[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
name = "chainflip-broker-api"
version = "0.9.0"
edition = "2021"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Broker Rpc Server"""
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
name = "chainflip-broker-api"
priority = "required"
section = "rust"
maintainer-scripts = "package/"
systemd-units = { enable = false }
assets = [["target/release/chainflip-broker-api", "usr/bin/", "755"]]

[[bin]]
name = "chainflip-broker-api"

[dependencies]
chainflip-api = { path = "../../lib" }
cf-utilities = { package = "utilities", path = "../../../utilities" }
cf-chains = { path = '../../../state-chain/chains', default-features = false }

anyhow = "1.0.66"
clap = { version = "3.2.23", features = ["derive"] }
futures = "0.3"
hex = "0.4.3"
jsonrpsee = { version = "0.16.2", features = ["full"] }
serde = { version = '1.0', features = ['derive'] }
sp-rpc = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }
tokio = "1.20.1"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.3", features = ["env-filter"] }
