[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
name = "chainflip-broker-api"
version = "1.7.0"
edition = "2021"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Broker Rpc Server"""
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
name = "chainflip-broker-api"
priority = "required"
section = "rust"
maintainer-scripts = "package/"
systemd-units = { enable = false }

[[bin]]
name = "chainflip-broker-api"

[lints]
workspace = true

[dependencies]
chainflip-api = { workspace = true }
cf-utilities = { workspace = true }
custom-rpc = { workspace = true }

anyhow = { workspace = true }
clap = { workspace = true, features = ["derive"] }
futures = { workspace = true }
hex = { workspace = true }
jsonrpsee = { workspace = true, features = ["full"] }
serde = { workspace = true, features = ["derive"] }
sp-core = { workspace = true }
sp-rpc = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[build-dependencies]
substrate-build-script-utils = { workspace = true }
