[package]
authors = ['Chainflip Team <https://github.com/chainflip-io>']
build = 'build.rs'
description = 'The Chainflip State Chain node'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
name = 'chainflip-node'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.5.0'

[[bin]]
name = 'chainflip-node'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

# Chainflip Runtime
[dependencies.state-chain-runtime]
path = '../runtime'

[dependencies]
# Local dependencies
cf-chains = {path = "../chains"}
utilities = {path = '../../utilities'}
custom-rpc = {path = '../custom-rpc'}
cf-primitives = { path = '../primitives' }

# Added by Chainflip
futures = {version = '0.3.4'}
hex = '0.4'
hex-literal = '0.3.1'

# Substrate-node-template dependencies
clap = { version = "3.1.18", features = ["derive"] }

sc-cli = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12', features = ["wasmtime"] }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-executor = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12', features = ["wasmtime"]  }
sc-service = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12', features = ["wasmtime"]  }
sc-telemetry = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-keystore = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-transaction-pool = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-transaction-pool-api = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-consensus-aura = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-consensus-aura = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-consensus = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-consensus = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-finality-grandpa = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-finality-grandpa-rpc = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-finality-grandpa = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-client-api = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-runtime = { version = "6.0.0", git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-timestamp = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-inherents = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-keyring = { version = "6.0.0", git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
pallet-transaction-payment = { default-features = false, git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }

# These dependencies are used for the node template's RPCs
jsonrpsee = { version = "0.13.0", features = ["full"] }
sc-rpc = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-api = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-rpc-api = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-blockchain = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sp-block-builder = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
sc-basic-authorship = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
substrate-frame-rpc-system = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
pallet-transaction-payment-rpc = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }

# These dependencies are used for runtime benchmarking
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }
frame-benchmarking-cli = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }

# CLI-specific dependencies
try-runtime-cli = { optional = true, git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12' }

[features]
default = []
runtime-benchmarks = ['state-chain-runtime/runtime-benchmarks']
cli = [
  'try-runtime-cli',
]
try-runtime = [
  "state-chain-runtime/try-runtime",
  "try-runtime-cli",
]
ibiza = [
  "state-chain-runtime/ibiza",
  "cf-chains/ibiza",
  'custom-rpc/ibiza',
]

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Node Package"""
features = ["runtime-benchmarks"]
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
name = "chainflip-node"
priority = "required"
section = "rust"
maintainer-scripts = "package/"
systemd-units = {enable = false}
assets = [
  ["target/release/chainflip-node", "usr/bin/", "755"],
  ["chainspecs/perseverance.chainspec.raw.json", "etc/chainflip/chainspecs/perseverance.json", "644"],
  ["chainspecs/sisyphos.chainspec.raw.json", "etc/chainflip/chainspecs/sisyphos.chainspec.json", "644"],
]