[package]
authors = ['Chainflip Team <https://github.com/chainflip-io>']
build = 'build.rs'
description = 'The Chainflip State Chain node, based on substrate-node-template'
edition = '2018'
homepage = 'https://chainflip.io'
license = '<TODO>'
name = 'chainflip-node'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.2.4'

[[bin]]
name = 'chainflip-node'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies.substrate-build-script-utils]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

# Chainflip Runtime
[dependencies.state-chain-runtime]
path = '../runtime'

[dependencies]
# Chainflip-specific dependencies  
multisig-p2p-transport = {path = '../multisig-p2p-transport'}
futures = {version = '0.3.4'}
hex = '0.4'
hex-literal = '0.3.1'
jsonrpc-core-client = '18.0.0'
jsonrpc-derive = '18.0.0'
utilities = {path = '../../utilities'}

# Substrate dependencies
jsonrpc-core = '18.0.0'
structopt = '0.3.8'
cf-chains = {path = "../chains"}

# Substrate dependencies
[dependencies.frame-benchmarking]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.frame-benchmarking-cli]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-basic-authorship]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-cli]
features = ['wasmtime']
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-client-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-consensus]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-consensus-aura]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-executor]
features = ['wasmtime']
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-finality-grandpa]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-keystore]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-rpc]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-rpc-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-service]
features = ['wasmtime']
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-telemetry]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-transaction-pool]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sc-transaction-pool-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-block-builder]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-blockchain]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-consensus]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-consensus-aura]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-core]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-finality-grandpa]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-runtime]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.sp-timestamp]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.substrate-frame-rpc-system]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.frame-try-runtime]
optional = true
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[dependencies.try-runtime-cli]
optional = true
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2021-09+1'

[features]
default = []
runtime-benchmarks = ['state-chain-runtime/runtime-benchmarks']
cli = [
    'try-runtime-cli',
]
try-runtime = [
    "state-chain-runtime/try-runtime",
    "try-runtime-cli",
]

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Chainflip Validator Node Package"""
maintainer = "Chainflip UG <dev@chainflip.io>"
name = "chainflip-node"
priority = "required"
section = "rust"
