[package]
name = 'cf-test-utilities'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Chainflip test utilities used in multiple crates'

[lints]
workspace = true

[dependencies]
codec = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }

sp-io = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[dev-dependencies]
scale-info = { workspace = true, features = ["derive"] }
