[package]
name = 'state-chain-runtime'
version = '0.4.2'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-wasm-builder = { version = "5.0.0-dev", git = 'https://github.com/chainflip-io/substrate.git', tag = 'chainflip-monthly-2022-12+2' }

[dependencies]
# Required to get wasm to compile.
# See https://docs.rs/getrandom/#webassembly-support
getrandom = { version = '0.2.3', features = ['js'], default-features = false }

log = { version = '0.4.16', default-features = false }
nanorand = { version = '0.7', default-features = false, features = ['wyrand']}
serde = { version = '1.0.126', optional = true, features = ['derive'] }
ethabi = {default-features = false, version = '18.0'}


# Chainflip local dependencies
cf-traits = { path = '../traits', default-features = false }
cf-primitives = { path = '../primitives', default-features = false }
cf-chains = { path = '../chains', default-features = false }
cf-utilities = { package = 'utilities', path = '../../utilities', default-features = false }
cf-session-benchmarking = { path = '../cf-session-benchmarking', optional = true, default-features = false }

pallet-cf-account-roles = { path = '../pallets/cf-account-roles', default-features = false }
pallet-cf-broadcast = { path = '../pallets/cf-broadcast', default-features = false }
pallet-cf-chain-tracking = { path = '../pallets/cf-chain-tracking', default-features = false }
pallet-cf-emissions = { path = '../pallets/cf-emissions', default-features = false }
pallet-cf-environment = { path = '../pallets/cf-environment', default-features = false }
pallet-cf-flip = { path = '../pallets/cf-flip', default-features = false }
pallet-cf-governance = { path = '../pallets/cf-governance', default-features = false }
pallet-cf-ingress-egress = { path = '../pallets/cf-ingress-egress', default-features = false }
pallet-cf-lp =  { path = '../pallets/cf-lp', default-features = false }
pallet-cf-pools = { path = '../pallets/cf-pools', default-features = false  }
pallet-cf-pools-runtime-api = {path = "../pallets/cf-pools/runtime-api", default-features = false }
pallet-cf-reputation = { path = '../pallets/cf-reputation', default-features = false }
pallet-cf-staking = { path = '../pallets/cf-staking', default-features = false }
pallet-cf-swapping = { path = '../pallets/cf-swapping', default-features = false  }
pallet-cf-threshold-signature = { path = '../pallets/cf-threshold-signature', default-features = false }
pallet-cf-tokenholder-governance = { path = '../pallets/cf-tokenholder-governance', default-features = false }
pallet-cf-validator = { path = '../pallets/cf-validator', default-features = false }
pallet-cf-vaults = { path = '../pallets/cf-vaults', default-features = false }
pallet-cf-witnesser = { path = '../pallets/cf-witnesser', default-features = false}

# SCALE
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }
scale-info = { version = '2.1.1', default-features = false, features = ['derive'] }

# Additional FRAME pallets
pallet-authorship = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
pallet-session = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false, features = ['historical'] }

# Substrate dependencies
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", optional = true, default-features = false }
frame-executive = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
frame-system-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", optional = true, default-features = false }

pallet-aura = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
pallet-grandpa = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
pallet-randomness-collective-flip = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
pallet-timestamp = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
pallet-transaction-payment = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }

sp-api = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-block-builder = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-consensus-aura = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-inherents = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-offchain = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-runtime = { version = "7.0.0", git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-session = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-transaction-pool = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-version = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }

frame-try-runtime = { optional = true, tag = 'chainflip-monthly-2022-12+2', default-features = false, git = 'https://github.com/chainflip-io/substrate.git' }

# Used for RPCs
frame-system-rpc-runtime-api = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }

[features]
default = ['std']
runtime-benchmarks = [
  'cf-chains/runtime-benchmarks',
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system-benchmarking/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'pallet-cf-account-roles/runtime-benchmarks',
  'pallet-cf-broadcast/runtime-benchmarks',
  'pallet-cf-chain-tracking/runtime-benchmarks',
  'pallet-cf-emissions/runtime-benchmarks',
  'pallet-cf-environment/runtime-benchmarks',
  'pallet-cf-flip/runtime-benchmarks',
  'pallet-cf-governance/runtime-benchmarks',
  'pallet-cf-ingress-egress/runtime-benchmarks',
  'pallet-cf-lp/runtime-benchmarks',
  'pallet-cf-pools/runtime-benchmarks',
  'pallet-cf-reputation/runtime-benchmarks',
  'pallet-cf-staking/runtime-benchmarks',
  'pallet-cf-swapping/runtime-benchmarks',
  'pallet-cf-threshold-signature/runtime-benchmarks',
  'pallet-cf-tokenholder-governance/runtime-benchmarks',
  'pallet-cf-validator/runtime-benchmarks',
  'pallet-cf-vaults/runtime-benchmarks',
  'pallet-cf-witnesser/runtime-benchmarks',
  'pallet-timestamp/runtime-benchmarks',
  'sp-runtime/runtime-benchmarks',
  'cf-session-benchmarking/runtime-benchmarks',
]
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'cf-traits/std',
  'cf-utilities/std',
  'codec/std',
  'ethabi/std',
  'frame-benchmarking?/std',
  'frame-executive/std',
  'frame-support/std',
  'frame-system-benchmarking?/std',
  'frame-system-rpc-runtime-api/std',
  'frame-system/std',
  'frame-try-runtime?/std',
  'log/std',
  'nanorand/std',
  'pallet-aura/std',
  'pallet-authorship/std',
  'pallet-cf-account-roles/std',
  'pallet-cf-broadcast/std',
  'pallet-cf-chain-tracking/std',
  'pallet-cf-emissions/std',
  'pallet-cf-environment/std',
  'pallet-cf-flip/std',
  'pallet-cf-governance/std',
  'pallet-cf-ingress-egress/std',
  'pallet-cf-lp/std',
  'pallet-cf-pools-runtime-api/std',
  'pallet-cf-pools/std',
  'pallet-cf-reputation/std',
  'pallet-cf-staking/std',
  'pallet-cf-swapping/std',
  'pallet-cf-threshold-signature/std',
  'pallet-cf-tokenholder-governance/std',
  'pallet-cf-validator/std',
  'pallet-cf-vaults/std',
  'pallet-cf-witnesser/std',
  'pallet-grandpa/std',
  'pallet-randomness-collective-flip/std',
  'pallet-session/std',
  'pallet-timestamp/std',
  'pallet-transaction-payment-rpc-runtime-api/std',
  'pallet-transaction-payment-rpc-runtime-api/std',
  'pallet-transaction-payment/std',
  'scale-info/std',
  'serde',
  'sp-api/std',
  'sp-block-builder/std',
  'sp-consensus-aura/std',
  'sp-core/std',
  'sp-inherents/std',
  'sp-offchain/std',
  'sp-runtime/std',
  'sp-session/std',
  'sp-std/std',
  'sp-transaction-pool/std',
  'sp-version/std',
]
try-runtime = [
  'frame-executive/try-runtime',
  'frame-try-runtime/try-runtime',
  'frame-system/try-runtime',
  'frame-support/try-runtime',
  'pallet-cf-account-roles/try-runtime',
  'pallet-cf-broadcast/try-runtime',
  'pallet-cf-chain-tracking/try-runtime',
  'pallet-cf-emissions/try-runtime',
  'pallet-cf-environment/try-runtime',
  'pallet-cf-flip/try-runtime',
  'pallet-cf-governance/try-runtime',
  'pallet-cf-ingress-egress/try-runtime',
  'pallet-cf-lp/try-runtime',
  'pallet-cf-pools/try-runtime',
  'pallet-cf-reputation/try-runtime',
  'pallet-cf-staking/try-runtime',
  'pallet-cf-swapping/try-runtime',
  'pallet-cf-threshold-signature/try-runtime',
  'pallet-cf-tokenholder-governance/try-runtime',
  'pallet-cf-validator/try-runtime',
  'pallet-cf-vaults/try-runtime',
  'pallet-cf-witnesser/try-runtime',
  'pallet-timestamp/try-runtime',
  'pallet-transaction-payment/try-runtime',
  'pallet-aura/try-runtime',
  'pallet-grandpa/try-runtime',
  'pallet-randomness-collective-flip/try-runtime',
  'pallet-session/try-runtime',
  'pallet-authorship/try-runtime',
]
