[package]
name = 'pallet-cf-lp'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'Pallet for liquidity provider functionality.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal dependencies
cf-traits = { path = '../../traits', default-features = false }
cf-primitives = {path = '../../primitives', default-features = false}
cf-chains = {path = '../../chains', default-features = false, features = ["ibiza"]}
# Parity deps
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }
scale-info = { version = '2.0.1', default-features = false, features = ['derive'] }
serde = { version = '1.0.126', optional = true, features = ['derive'] }

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
optional = true
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-core]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-io]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dev-dependencies]
quickcheck = '1'
quickcheck_macros = '1'
pallet-cf-account-roles = { path = '../cf-account-roles' }
pallet-cf-pools = { path = '../cf-pools' }

[features]
default = ['std']
std = [
  'cf-traits/std',
  'cf-primitives/std',
  'cf-chains/std',
  'codec/std',
  'scale-info/std',
  'serde',
  'frame-support/std',
  'frame-system/std',
  'frame-benchmarking/std',
  'sp-runtime/std',
  'sp-std/std',
  'sp-core/std',
  'sp-io/std',
]
runtime-benchmarks = [
  'cf-traits/runtime-benchmarks',
  'cf-chains/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = ['frame-support/try-runtime']
