[profile.release]
panic = 'unwind'

[workspace]
members = [
  'state-chain/chains',
  'state-chain/node',
  'state-chain/multisig-p2p-transport',
  'state-chain/pallets/cf-auction',
  'state-chain/pallets/cf-broadcast',
  'state-chain/pallets/cf-chain-tracking',
  'state-chain/pallets/cf-emissions',
  'state-chain/pallets/cf-environment',
  'state-chain/pallets/cf-flip',
  'state-chain/pallets/cf-governance',
  'state-chain/pallets/cf-reputation',
  'state-chain/pallets/cf-staking',
  'state-chain/pallets/cf-threshold-signature',
  'state-chain/pallets/cf-validator',
  'state-chain/pallets/cf-vaults',
  'state-chain/pallets/cf-witnesser',
  'state-chain/pallets/cf-tokenholder-governance',
  'state-chain/cf-integration-tests',
  'state-chain/runtime-upgrade-utilities',
  'state-chain/runtime-utilities',
  'state-chain/test-utilities',
  'state-chain/runtime-utilities/macros',
  'state-chain/runtime',
  'state-chain/traits',
  'engine',
  'engine/cli',
  'engine/generate-genesis-keys',
  'utilities',
  'state-chain/custom-rpc',
  'state-chain/cf-session-benchmarking',
  'state-chain/simnode-test',
]
