[profile.release]
panic = 'unwind'

[workspace]
members = [
  'state-chain/client/cf-p2p',
  'state-chain/client/cf-p2p/rpc',
  'state-chain/node',
  'state-chain/pallets/cf-flip',
  'state-chain/pallets/cf-staking',
  'state-chain/pallets/cf-validator',
  'state-chain/pallets/cf-auction',
  'state-chain/pallets/cf-vaults',
  'state-chain/pallets/cf-emissions',
  'state-chain/pallets/cf-rewards',
  'state-chain/pallets/cf-witness',
  'state-chain/pallets/cf-witness-api',
  'state-chain/runtime',
  'state-chain/traits',
  'engine',
]
