[workspace]
members = [
  'api/lib',
  'api/bin/chainflip-cli',
  'api/bin/chainflip-relayer',
  'state-chain/chains',
  'state-chain/node',
  'state-chain/amm',
  'state-chain/pallets/cf-account-roles',
  'state-chain/pallets/cf-broadcast',
  'state-chain/pallets/cf-chain-tracking',
  'state-chain/pallets/cf-emissions',
  'state-chain/pallets/cf-environment',
  'state-chain/pallets/cf-flip',
  'state-chain/pallets/cf-governance',
  'state-chain/pallets/cf-ingress-egress',
  'state-chain/pallets/cf-lp',
  'state-chain/pallets/cf-pools',
  'state-chain/pallets/cf-pools/runtime-api',
  'state-chain/pallets/cf-reputation',
  'state-chain/pallets/cf-staking',
  'state-chain/pallets/cf-threshold-signature',
  'state-chain/pallets/cf-validator',
  'state-chain/pallets/cf-vaults',
  'state-chain/pallets/cf-swapping',
  'state-chain/pallets/cf-witnesser',
  'state-chain/pallets/cf-tokenholder-governance',
  'state-chain/cf-integration-tests',
  'state-chain/runtime-upgrade-utilities',
  'state-chain/runtime-utilities',
  'state-chain/test-utilities',
  'state-chain/runtime-utilities/macros',
  'state-chain/runtime',
  'state-chain/traits',
  'state-chain/primitives',
  'engine',
  'engine/generate-genesis-keys',
  'utilities',
  'state-chain/custom-rpc',
  'state-chain/cf-session-benchmarking',
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"

[profile.production]
inherits = "release"

# Sacrifice compile speed for execution speed by using optimization flags:

# https://doc.rust-lang.org/rustc/linker-plugin-lto.html
lto = "fat"
# https://doc.rust-lang.org/rustc/codegen-options/index.html#codegen-units
codegen-units = 1
