[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
edition = '2021'
build = 'build.rs'
name = "chainflip-cli"
version = "0.5.0"

[dependencies]
anyhow = "1.0"
chainflip-engine = {path = "../../../engine/"}
chainflip-api = {path = "../../lib"}
clap = { version = "3.2.16", features = ["derive", "env"] }
config = "0.13.1"
futures = "0.3.14"
hex = "0.4.3"
serde = {version = "1.0", features = ["derive", "rc"]}
slog = {version = "2.7.0", features = ["max_level_trace", "release_max_level_trace"]}
tokio = {version = "1.13.1", features = ["full"]}
utilities = {path = "../../../utilities"}

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/chainflip-io/substrate.git", tag = 'chainflip-monthly-2022-12+2' }