[package]
authors = ['Chainflip <https://chainflip.io>']
description = 'FRAME pallet for chainflip witnessing.'
edition = '2018'
homepage = 'https://chainflip.io'
license = 'TBC'
name = 'pallet-cf-witness'
repository = 'https://github.com/chainflip-io/chainflip-backend/pallets/'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies]
bitvec = { default-features = false, version = '0.20' }
frame-support = { default-features = false, version = '3.0.0' }
frame-system = { default-features = false, version = '3.0.0' }
sp-core = { default-features = false, version = '3.0.0' }
sp-runtime = { default-features = false, version = '3.0.0' }

[dev-dependencies]
serde = { version = "1.0.119" }
sp-io = { default-features = false, version = '3.0.0' }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'sp-core/std',
    'sp-runtime/std',
]
