apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: "{{ include "chainflip-node.fullname" .}}-{{ .Values.secrets.existingOnePasswordSecret }}"
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Prune=false
type: Opaque
spec:
  itemPath: vaults/{{ .Values.cluster }}/items/{{ .Values.secrets.existingOnePasswordSecret }}
---
{{- if .Values.secrets.ethEnvOnePasswordSecret }}
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: "{{ include "chainflip-node.fullname" .}}-{{ .Values.secrets.ethEnvOnePasswordSecret }}"
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Prune=false
type: Opaque
spec:
  itemPath: vaults/{{ .Values.cluster }}/items/{{ .Values.secrets.ethEnvOnePasswordSecret }}
---
{{- end }}