apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "chainflip-node.fullname" . }}
  labels:
  {{- include "chainflip-node.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "chainflip-node.fullname" . }}
  selector:
    matchLabels:
  {{- include "chainflip-node.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
    {{- include "chainflip-node.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      initContainers:
        {{- if .Values.purgeChain }}
        - name: purge-chain
          image: {{ .Values.initContainer.image.repository }}:{{ .Values.initContainer.image.tag }}
          command: [ "/bin/bash" ]
          args:
            - -c
            - |
                echo "Purging the chain ..."
                rm -rf /etc/chainflip/chaindata/*
          volumeMounts:
            - name: {{ include "chainflip-node.fullname" . }}
              mountPath: {{ .Values.basePath }}/chaindata
        {{- end }}
        {{- if .Values.downloadChainspec }}
        - name: s3-downloader
          image: amazon/aws-cli:latest
          command: ["sh", "-c", "aws s3 cp s3://{{ .Values.chainspecS3Url }}/${{ .Values.chainspec }} {{ .Values.basePath }}/"]
          volumeMounts:
            - name: chainspec
              mountPath: {{ .Values.basePath }}
        {{- end }}
      containers:
      {{- if .Values.brokerApi.enabled }}
        - name: {{ .Chart.Name }}-broker-api
          image: "{{ .Values.brokerApi.image.repository }}:{{ .Values.brokerApi.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.brokerApi.image.pullPolicy }}
          command:
            - /usr/local/bin/chainflip-broker-api
          args:
            - --port={{ .Values.brokerApi.containerPort | default 8080 }}
            - --state_chain.signing_key_file={{ .Values.signingKeyFile }}
            - --state_chain.ws_endpoint={{ .Values.stateChainWsEndpoint }}
          ports:
            - name: broker-api
              containerPort: {{ .Values.brokerApi.containerPort | default 8080 }}
              protocol: TCP
          {{ with .Values.brokerApi.resources }}
          resources:
          {{- toYaml .| nindent 12 }}
          {{ end }}
          volumeMounts:
            - name: keys
              mountPath: {{ .Values.basePath }}/keys
        {{ end }}
      {{- if .Values.lpApi.enabled }}
        - name: {{ .Chart.Name }}-lp-api
          image: "{{ .Values.lpApi.image.repository }}:{{ .Values.lpApi.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.lpApi.image.pullPolicy }}
          command:
            - /usr/local/bin/chainflip-lp-api
          args:
            - --port={{ .Values.lpApi.containerPort | default 10589 }}
            - --state_chain.signing_key_file={{ .Values.signingKeyFile }}
            - --state_chain.ws_endpoint={{ .Values.stateChainWsEndpoint }}
          ports:
            - name: lp-api
              containerPort: {{ .Values.lpApi.containerPort | default 10589 }}
              protocol: TCP
          {{ with .Values.lpApi.resources }}
          resources:
          {{- toYaml .| nindent 12 }}
          {{ end }}
          volumeMounts:
            - name: keys
              mountPath: {{ .Values.basePath }}/keys
        {{ end }}
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /usr/local/bin/chainflip-node
          args:
            - --base-path={{ .Values.basePath }}/chaindata
            - --bootnodes={{ .Values.bootnodes }}
            - --chain=/etc/chainflip/{{ .Values.chainspec }}
            - --node-key-file={{ .Values.basePath }}/keys/node_key_file
            - --prometheus-external
            - --state-cache-size=0
            - --validator
            - --unsafe-ws-external
            - --unsafe-rpc-external
            - --rpc-methods=unsafe
            - --rpc-cors=all
            {{- with .Values.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: ws
              containerPort: {{ .Values.ports.wsPort | default "9944" }}
              protocol: TCP
            - name: rpc
              containerPort: {{ .Values.ports.rpcPort | default "9933" }}
              protocol: TCP
            - name: p2p
              containerPort: {{ .Values.ports.p2pPort | default "30333" }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.ports.metricsPort | default "9615" }}
              protocol: TCP
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: {{ include "chainflip-node.fullname" . }}
              mountPath: {{ .Values.basePath }}/chaindata
            - name: keys
              mountPath: {{ .Values.basePath }}/keys
            {{- if .Values.downloadChainspec }}
            - name: chainspec
              mountPath: {{ .Values.basePath }}/{{ .Values.chainspec }}
              subPath: {{ .Values.chainspec }}
              readOnly: true
            {{- end }}
      volumes:
        - name: chainspec
          emptyDir:
            {}

        - name: keys
          secret:
            secretName: {{ .Values.secrets.existingOnePasswordSecret }}
            items:
              - key: signing-key
                path: signing_key_file
              - key: node-key
                path: node_key_file

  volumeClaimTemplates:
    - metadata:
        name: {{ include "chainflip-node.fullname" . }}
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: gp2
        resources:
          requests:
            storage: "{{ .Values.persistence.size }}"