[package]
authors = ["Kyle Zsembery <zsembery.kyle@gmail.com>"]
edition = "2018"
name = "chainflip-engine"
version = "0.1.0"

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Chainflip Validator Engine Package"""
maintainer = "Chainflip UG <dev@chainflip.io>"
name = "engine"
priority = "required"
section = "rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-stream = "0.3.0"
async-trait = "0.1.49"
bincode = "1.3.3"
bs58 = "0.4"
config = "0.11.0"
crossbeam-channel = "0.5.1"
failure = "0.1.8"
futures = "0.3.14"
futures-core = "0.3.14"
futures-util = "0.3.14"
hex = "0.4.3"
httparse = "1.4.1"
itertools = "0.10"
structopt = "0.3.23"

# Same version of jsonrpc as substrate
jsonrpc-core = {version = "18.0"}
jsonrpc-core-client = {version = "18.0", default-features = false, features = ["http", "ws"]}
jsonrpc-http-server = "18.0"
jsonrpc-ws-server = "18.0"
websocket = "0.24"

dyn-clone = "1.0.4"
# kvdb-rocksdb is tied to substrate deps
kvdb-rocksdb = "0.14.0"
lazy_static = "1.4"
num = "0.4.0"
parking_lot = "0.11"
rand = "0.7.3"
regex = "1"
reqwest = {version = "0.11.4", features = ["json"]}
secp256k1 = "0.20"
serde = {version = "1.0", features = ["derive", "rc"]}
serde_json = "1.0"
sha2 = "0.9.5"
slog = {version = "2.7.0", features = ["max_level_trace", "release_max_level_trace"]}
slog-async = {version = "2.6.0"}
slog-json = {version = "2.3.0"}
thiserror = "1.0.26"
tokio = {version = "1.5.0", features = ["full"]}
tokio-compat-02 = "0.2.0"
tokio-stream = "0.1.5"
url = "1.7.2"
web3 = "0.17.0"

# Local deps
cf-chains = {path = "../state-chain/chains"}
cf-p2p = {path = "../state-chain/client/cf-p2p"}
cf-traits = {path = "../state-chain/traits"}
pallet-cf-auction = {path = "../state-chain/pallets/cf-auction"}
pallet-cf-broadcast = {path = "../state-chain/pallets/cf-broadcast"}
pallet-cf-flip = {path = "../state-chain/pallets/cf-flip"}
pallet-cf-online = {path = "../state-chain/pallets/cf-online"}
pallet-cf-reputation = {path = "../state-chain/pallets/cf-reputation"}
pallet-cf-staking = {path = "../state-chain/pallets/cf-staking"}
pallet-cf-threshold-signature = {path = "../state-chain/pallets/cf-threshold-signature"}
pallet-cf-validator = {path = "../state-chain/pallets/cf-validator"}
pallet-cf-vaults = {path = "../state-chain/pallets/cf-vaults"}
pallet-cf-witnesser-api = {path = "../state-chain/pallets/cf-witnesser-api"}
state-chain-runtime = {path = "../state-chain/runtime"}
utilities = {path = "../utilities"}

# substrate deps
substrate-subxt = "0.15"

[dependencies.codec]
features = ['derive', 'full']
package = 'parity-scale-codec'
version = '2.1'

[dependencies.frame-support]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.frame-system]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.sc-rpc-api]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.sp-core]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.sp-keyring]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.sp-rpc]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.sp-runtime]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.sp-version]
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-10'

[dependencies.curv]
features = ["rust-gmp-kzen"]
git = "https://github.com/KZen-networks/curv"
tag = "v0.7.0"

[dev-dependencies]
env_logger = "0.9.0"
jsonrpc-pubsub = "18.0"
log = "0.4.14"
mockall = "0.10.2"
# only used for tests - because they are easy calls to make - no real side effects
pallet-cf-governance = {path = "../state-chain/pallets/cf-governance"}
