[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
build = 'build.rs'
edition = '2021'
name = "chainflip-engine"
version = "1.3.0"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Validator Engine Package"""
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
maintainer-scripts = "package/"
name = "chainflip-engine1.2"
priority = "required"
section = "rust"
systemd-units = [{ unit-name = "chainflip-engine1.2", enable = false }]
assets = [
  [
    "target/release/chainflip-engine",
    "usr/bin/chainflip-engine1.2",
    "755",
  ],
]

[package.metadata.deb.variants.test]
maintainer-scripts = "package/test"

[package.metadata.deb.variants.sisyphos]
maintainer-scripts = "package/sisyphos"

[package.metadata.deb.variants.perseverance]
maintainer-scripts = "package/perseverance"

[package.metadata.deb.variants.berghain]
maintainer-scripts = "package/berghain"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
anyhow = "1.0"
async-broadcast = "0.5"
async-channel = "1.7.1"
async-trait = "0.1.49"
bincode = "1.3.3"
bitcoin = { version = "0.30.0", features = ["serde"] }
chrono = { version = "0.4.19", default_features = false, features = ["clock"] }
clap = { version = "3.2.16", features = ["derive", "env"] }
config = "0.13.1"
fs_extra = "1.2.0"
futures = "0.3.14"
futures-core = "0.3.14"
futures-util = "0.3.14"
hex = "0.4.3"
httparse = "1.4.1"
itertools = "0.11"

# Same version of jsonrpsee as the substrate version our StateChain is on.
jsonrpsee = { version = "0.16.2", features = ["full"] }

dyn-clone = "1.0.4"
ethbloom = "0.13"
ethers = { version = "2.0.8", features = ["rustls"] }
lazy_static = "1.4"
num-bigint = "0.4"
num-derive = "0.4"
num-traits = "0.2"
secp256k1 = "0.27"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
sha2 = "0.10"

subxt = { version = "0.32.1", features = ["substrate-compat"] }
thiserror = "1.0.26"
tokio = { version = "1.22", features = ["full", "test-util"] }
tokio-stream = { version = "0.1.5", features = ["sync"] }
url = "2.4"
web3 = { version = "0.19", default-features = false, features = [
  "ws-tls-tokio",
] }
zeroize = "1.5.4"
curve25519-dalek = { version = "4.1", features = ["serde"] }
ed25519-dalek = "2.1"
pin-project = "1.0.12"
rand = "0.8.4"
reqwest = { version = "0.11.4", features = ["rustls-tls"] }
toml = "0.7.4"
tracing = "0.1"
x25519-dalek = { version = "2.0", features = ["serde"] }
zmq = { git = "https://github.com/chainflip-io/rust-zmq.git", tag = "chainflip-v0.9.2+1", features = [
  "vendored",
] }
warp = { version = "0.3.6" }
regex = { version = "1" }
lazy_format = "2.0"


# Local deps
cf-chains = { path = "../state-chain/chains" }
cf-primitives = { path = "../state-chain/primitives" }
chainflip-node = { path = "../state-chain/node" }
custom-rpc = { path = "../state-chain/custom-rpc" }
multisig = { path = "multisig" }
pallet-cf-account-roles = { path = "../state-chain/pallets/cf-account-roles" }
pallet-cf-broadcast = { path = "../state-chain/pallets/cf-broadcast" }
pallet-cf-chain-tracking = { path = "../state-chain/pallets/cf-chain-tracking" }
pallet-cf-environment = { path = "../state-chain/pallets/cf-environment" }
pallet-cf-flip = { path = "../state-chain/pallets/cf-flip" }
pallet-cf-governance = { path = "../state-chain/pallets/cf-governance" }
pallet-cf-ingress-egress = { path = "../state-chain/pallets/cf-ingress-egress" }
pallet-cf-reputation = { path = "../state-chain/pallets/cf-reputation" }
pallet-cf-funding = { path = "../state-chain/pallets/cf-funding" }
pallet-cf-swapping = { path = "../state-chain/pallets/cf-swapping" }
pallet-cf-threshold-signature = { path = "../state-chain/pallets/cf-threshold-signature" }
pallet-cf-validator = { path = "../state-chain/pallets/cf-validator" }
pallet-cf-vaults = { path = "../state-chain/pallets/cf-vaults" }
pallet-cf-witnesser = { path = "../state-chain/pallets/cf-witnesser" }
pallet-cf-cfe-interface = { path = "../state-chain/pallets/cf-cfe-interface" }
state-chain-runtime = { path = "../state-chain/runtime" }
utilities = { path = "../utilities" }

sol-prim = {path = "../foreign-chains/solana/sol-prim", features = ["pda", "str", "serde", "std-error"]}
sol-rpc = {path = "../foreign-chains/solana/sol-rpc"}
sol-watch = {path = "../foreign-chains/solana/sol-watch"}

# substrate deps
cf-amm = { path = "../state-chain/amm" }
codec = { package = "parity-scale-codec", version = "3.6.1", features = [
  "derive",
  "full",
] }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sc-rpc-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sc-transaction-pool-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = 'chainflip-substrate-1.6' }
scale-info = { version = "2.10.0", features = ["derive"] }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-rpc = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-version = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
substrate-frame-rpc-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }

frame-metadata = { version = "16.0.0", default-features = false, features = [
  "current",
] }

[dependencies.rocksdb]
version = "0.21.0"
# Disabling of default features, and using lz4 compression is primarily to avoid linker issues
# resulting from the default compression using libs that conflict with the system libs
# https://github.com/rust-rocksdb/rust-rocksdb/pull/555
default-features = false
features = ["lz4"]

[dev-dependencies]
csv = "1.1.6"
ethereum = "0.14"
mockall = "0.11.0"
multisig = { path = "multisig", features = ["test"] }
rlp = "0.5"
tempfile = "3.7.0"
utilities = { package = "utilities", path = "../utilities", features = [
  "test-utils",
] }
serde_path_to_error = "*"

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }

[features]
integration-test = []
