[package]
authors = ["Kyle Zsembery <zsembery.kyle@gmail.com>"]
edition = "2018"
name = "chainflip-engine"
version = "0.1.0"

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Chainflip Validator Engine Package"""
maintainer = "Chainflip UG <dev@chainflip.io>"
name = "engine"
priority = "required"
section = "rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-nats = "0.9.12"
async-std = {version = "1.9", features = ["attributes", "tokio1"]}
async-stream = "0.3.0"
async-trait = "0.1.49"
config = "0.11.0"
crossbeam-channel = "0.5.1"
env_logger = "0.8.3"
futures = "0.3.14"
futures-core = "0.3.14"
futures-util = "0.3.14"
hex = "0.4.3"
hex-literal = "*"
httparse = "1.4.1"
itertools = "0.10"
lazy_static = "1.4"
log = "0.4.14"
parking_lot = "0.11"
rand = "0.7.3"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
thiserror = "1.0.24"
tokio = {version = "1.5.0", features = ["full"]}
tokio-stream = "0.1.5"
web3 = "0.16.0"

# substrate deps
codec = {package = "parity-scale-codec", version = "2.1", default-features = false, features = ["derive", "full"]}
frame-support = "3.0.0"
frame-system = "3.0.0"
sp-core = "3.0.0"
sp-keyring = "3.0.0"
sp-runtime = "3.0.0"
substrate-subxt = "0.15"

# Local deps
cf-traits = {path = "../state-chain/traits"}
pallet-cf-auction = {path = "../state-chain/pallets/cf-auction"}
pallet-cf-staking = {path = "../state-chain/pallets/cf-staking"}
pallet-cf-validator = {path = "../state-chain/pallets/cf-validator"}
state-chain-runtime = {path = "../state-chain/runtime"}

[dependencies.curv]
features = ["rust-gmp-kzen"]
git = "https://github.com/KZen-networks/curv"
tag = "v0.6.2"

[dev-dependencies]
frame-support = "3.0.0"
nats_test_server = "0.3.0"
