[package]
authors = ["Kyle Zsembery <zsembery.kyle@gmail.com>"]
edition = "2018"
name = "chainflip-engine"
version = "0.1.0"

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Chainflip Validator Engine Package"""
maintainer = "Chainflip UG <dev@chainflip.io>"
name = "engine"
priority = "required"
section = "rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-nats = "0.9.12"
async-std = {version = "1.9", features = ["attributes", "tokio1"]}
async-stream = "0.3.0"
async-trait = "0.1.49"
config = "0.11.0"
crossbeam-channel = "0.5.1"
env_logger = {version = "0.8.3"}
futures = {version = "0.3.14", features = ["compat"]}
futures-core = "0.3.14"
futures-util = "0.3.14"
hex = "0.4.3"
rand = "0.7.3"
itertools = "0.10"
lazy_static = "1.4"
log = {version = "0.4.14"}
parking_lot = "0.11"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
thiserror = "1.0.24"
tokio = {version = "1.5.0", features = ["full"]}
tokio-compat-02 = "0.2"
tokio-stream = "0.1.5"
web3 = {version = "0.15"}
jsonrpc-core = {version = "17.1.0"}
jsonrpc-core-client = {version = "17.1.0", default-features = false, features = ["http"]}

# substrate deps
sp-core = "3.0.0"
sp-keyring = "3.0.0"
frame-system = "3.0.0"
codec = { package = "parity-scale-codec", version = "2.1", default-features = false, features = ["derive", "full"] }
substrate-subxt = { version = "0.15 "}

# Local deps
pallet-cf-staking = {path = "../state-chain/pallets/cf-staking"}
pallet-cf-validator = {path = "../state-chain/pallets/cf-validator"}
pallet-cf-auction = {path = "../state-chain/pallets/cf-auction"}
cf-traits = {path = "../state-chain/traits"}
state-chain-runtime = {path = "../state-chain/runtime"}
cf-p2p-rpc = {path = "../state-chain/client/cf-p2p/rpc"}

[dependencies.curv]
git = "https://github.com/KZen-networks/curv"
tag = "v0.6.2"
features = ["rust-gmp-kzen"]

[dev-dependencies]
frame-support = "3.0.0"
nats_test_server = "0.3.0"
