[package]
authors = ["Kyle Zsembery <zsembery.kyle@gmail.com>"]
edition = "2018"
name = "chainflip-engine"
version = "0.1.0"

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Chainflip Validator Engine Package"""
maintainer = "Chainflip UG <dev@chainflip.io>"
name = "engine"
priority = "required"
section = "rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-nats = "0.9.12"
async-std = {version = "1.9", features = ["attributes", "tokio1"]}
async-stream = "0.3.0"
async-trait = "0.1.49"
config = "0.11.0"
crossbeam-channel = "0.5.1"
env_logger = {version = "0.8.3"}
futures = "0.3.14"
futures-core = "0.3.14"
futures-util = "0.3.14"
hex = "0.4.3"
log = {version = "0.4.14"}
parking_lot = "0.11"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
thiserror = "1.0.24"
tokio = {version = "1.5.0", features = ["full"]}
tokio-compat-02 = "0.2"
tokio-stream = "0.1.5"
web3 = {version = "0.15"}

# substrate deps
codec = {package = "parity-scale-codec", version = "2.1", default-features = false, features = ["derive", "full"]}
frame-system = "3.0.0"
sp-core = "3.0.0"
sp-keyring = "3.0.0"
substrate-subxt = {version = "0.15"}
# TODO: Fix
sp-runtime = "*"
frame-support = "*"

# Local deps
chainflip-common = {path = "../common"}
pallet-cf-staking = {path = "../state-chain/pallets/cf-staking"}
pallet-cf-validator = {path = "../state-chain/pallets/cf-validator"}
state-chain-runtime = {path = "../state-chain/runtime"}

[dev-dependencies]
frame-support = "3.0.0"
nats_test_server = "0.3.0"
