[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
build = 'build.rs'
edition = '2021'
name = "cf-engine-dylib"
version = "1.3.5"

[lib]
crate-type = ["cdylib"]
name = "chainflip_engine_v1_3_5"
path = 'src/lib.rs'

[dependencies]
chainflip-engine = { path = "../engine" }
engine-proc-macros = { path = "../engine-proc-macros" }
engine-upgrade-utils = { path = "../engine-upgrade-utils" }

[build-dependencies]
engine-upgrade-utils = { path = "../engine-upgrade-utils" }
