[package]
authors = ['Chainflip <https://chainflip.io>']
description = 'Common utilities used by the State Chain and the Chainflip Engine'
edition = '2021'
homepage = 'https://chainflip.io'
license = 'TBC'
name = 'utilities'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[lints]
workspace = true

[dependencies]
async-broadcast = { version = "0.5", optional = true }
hex = { version = "0.4.3", default-features = false }
anyhow = { version = '1.0', optional = true }
predicates = { version = "3.0", optional = true }
mockall = { version = "0.11.0", optional = true }
futures = { version = "0.3.14", optional = true }
tokio = { version = "1.13.1", features = ["full"], optional = true }
lazy_format = "2.0"
serde = { version = "1.0", optional = true, default_features = false, features = [
  "alloc",
  "derive",
] }
async-channel = { version = "1.7.1", optional = true }
tempfile = { version = "3.7.0", optional = true }
itertools = { version = "0.11", default_features = false }
tracing = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3", features = [
  "json",
  "env-filter",
], optional = true }
pin-project = { version = "1.0.12", optional = true }
warp = { version = "0.3.5", optional = true }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", optional = true }
sp-rpc = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", optional = true }
num-traits = { version = "0.2", optional = true }
scopeguard = { version = "1.2.0" }
prometheus = { version = "0.13.0", default-features = false }
lazy_static = "1.4"
jsonrpsee = { version = "0.16.2", features = [
  "jsonrpsee-types",
], optional = true }
regex = { version = "1", optional = true }
url = { version = "2.4", optional = true }

[dev-dependencies]
serde_json = "1.0"
tempfile = "3.7.0"
reqwest = { version = "0.11.4", features = ["rustls-tls"] }

[features]
default = ['std']
test-utils = ['dep:tempfile', 'dep:tracing', 'dep:tracing-subscriber']
std = [
  'dep:anyhow',
  'dep:async-broadcast',
  'dep:predicates',
  'dep:mockall',
  'dep:futures',
  'dep:tokio',
  'hex/std',
  'dep:async-channel',
  'itertools/use_std',
  'dep:pin-project',
  'dep:serde',
  'serde?/std',
  'dep:tracing',
  'dep:tracing-subscriber',
  'dep:warp',
  'dep:sp-core',
  'dep:sp-rpc',
  'dep:num-traits',
  'dep:jsonrpsee',
  'dep:regex',
  'dep:url',
]
