[package]
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet providing governance for the Chainflip statechain'
edition = '2018'
homepage = 'https://chainflip.io'
license = '<TODO>'
name = 'pallet-cf-governance'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
cf-traits = { path = '../../traits', default-features = false }

# Substrate stuff
serde = { version = "1.0.119" }
codec = { default-features = false, features = ['derive'], package = 'parity-scale-codec', version = '2.0.0' }
frame-system = { default-features = false, version = '3.0.0' }
frame-support = { default-features = false, version = '3.0.0' }
frame-benchmarking = { default-features = false, optional = true, version = '3.1.0' }
sp-std = { default-features = false, version = '3.0.0' }
sp-runtime = { default-features = false, version = '3.0.0' }
sp-core = { default-features = false, version = '3.0.0' }

[dev-dependencies]
serde = { version = "1.0.119" }
sp-io = { default-features = false, version = '3.0.0' }

[features]
default = ['std']
std = [
    'cf-traits/std',
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'frame-benchmarking/std',
    'sp-core/std',
    'sp-std/std',
    'sp-runtime/std',
]
