[package]
name = 'pallet-cf-flip'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet for the FLIP token.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]

# Internal dependencies
cf-traits = { path = '../../traits', default-features = false }
cf-primitives = { path = '../../primitives', default-features = false }

# Parity deps
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '3.0.0'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '2.1.1'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
optional = true
tag = 'chainflip-monthly-2022-12'

[dependencies.pallet-transaction-payment]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

# Dev dependencies
[dev-dependencies.sp-io]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dev-dependencies.sp-core]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dev-dependencies]
quickcheck = '1'
quickcheck_macros = '1'

[features]
default = ['std']
std = [
  'cf-traits/std',
  'cf-primitives/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'pallet-transaction-payment/std',
  'sp-runtime/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = ['frame-support/try-runtime']
