[package]
name = 'pallet-cf-flip'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet for the FLIP token.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[lints]
workspace = true

[dependencies]

# Internal dependencies
cf-primitives = { workspace = true }
cf-traits = { workspace = true }

# Parity deps
codec = { workspace = true, features = ['derive'] }
scale-info = { workspace = true, features = ['derive'] }

frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-transaction-payment = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }

[dev-dependencies]
quickcheck = { workspace = true }
quickcheck_macros = { workspace = true }
sp-io = { workspace = true }
sp-core = { workspace = true }
cf-test-utilities = { workspace = true }

[features]
default = ['std']
std = [
  'cf-primitives/std',
  'cf-traits/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'pallet-transaction-payment/std',
  'sp-runtime/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'cf-traits/runtime-benchmarks',
  'sp-runtime/runtime-benchmarks',
]
try-runtime = [
  'frame-support/try-runtime',
  'frame-system/try-runtime',
  'sp-runtime/try-runtime',
  'pallet-transaction-payment/try-runtime',
]
