[package]
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet for the FLIP token.'
edition = '2018'
homepage = 'https://chainflip.io'
license = '<TODO>'
name = 'pallet-cf-flip'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# External dependencies
codec = {default-features = false, features = ['derive'], package = 'parity-scale-codec', version = '2.0.0'}

# Internal dependencies
cf-traits = { path = '../../traits', default-features = false }

# Substrate dependencies
frame-support = {default-features = false, version = '3.0.0' }
frame-system = {default-features = false, version = '3.0.0' }
pallet-transaction-payment = {default-features = false, version = '3.0.0'}
sp-runtime = { default-features = false, version = '3.0.0' }
sp-std = { default-features = false, version = '3.0.0' }
serde = { default-features = false, version = '1.0.119' }
frame-benchmarking = { default-features = false, optional = true, version = '3.1.0' }

[dev-dependencies]
sp-core = { version = '3.0.0' }
sp-io = { version = '3.0.0' }

[features]
default = ['std']
std = [
    'cf-traits/std',
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'pallet-transaction-payment/std',
    'sp-runtime/std',
    'sp-std/std',
    'serde/std',
    'frame-benchmarking/std',
]
runtime-benchmarks = [
    'frame-benchmarking',
    'frame-support/runtime-benchmarks',
    'frame-system/runtime-benchmarks',
]