[package]
name = 'pallet-cf-pools'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'The Chainflip pools pallet.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal dependencies
cf-traits = {path = '../../traits', default-features = false}
cf-primitives = {path = '../../primitives', default-features = false}
cf-amm = { path = '../../amm', default-features = false }

log = { version = '0.4.16', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }

frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-arithmetic = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", optional = true, default-features = false }
sp-core = { version = "7.0.0", git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-io = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }

[features]
default = ['std']
std = [
  'cf-amm/std',
  'cf-primitives/std',
  'cf-traits/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'sp-std/std',
  'log/std',
  'sp-runtime/std',
  'sp-io/std',
  'sp-core/std',
  'sp-arithmetic/std'
]
runtime-benchmarks = [
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'sp-runtime/runtime-benchmarks'
]
try-runtime = ['frame-support/try-runtime']
