[package]
name = "chainflip-elections-tracker"
version = "0.1.0"
edition = "2024"

[dependencies]
tracing = "0.1.41"
tracing-core = "0.1.33"
tracing-subscriber = "0.3.19"
opentelemetry = "0.27.1"
opentelemetry_sdk = { version = "0.27.1", features = [
    "async-std",
    "rt-tokio",
    "trace",
] }
opentelemetry-otlp = { version = "0.27.0", features = ["grpc-tonic"] }

# workspaced deps
tokio = { workspace = true, features = ["rt-multi-thread"] }
bitvec = { workspace = true, default-features = false }
codec = { workspace = true, default-features = false }
futures-util = { workspace = true }
futures = { workspace = true }
futures-core = { workspace = true }
serde = { workspace = true, features = ["derive"] }

# local dependencies
pallet-cf-elections = { workspace = true, default-features = true }
pallet-cf-validator = { workspace = true, default-features = true }
chainflip-engine = { workspace = true }
custom-rpc = { workspace = true }
state-chain-runtime = { workspace = true, default-features = true }
cf-utilities = { workspace = true, default-features = true }

[lints]
workspace = true
