version: "3.8"

services:
  geth:
    image: ghcr.io/chainflip-io/geth:perseverance-rc2
    pull_policy: if_not_present
    stop_grace_period: 5s
    stop_signal: SIGINT
    container_name: geth
    platform: linux/amd64
    restart: unless-stopped
    env_file:
      - ./init/secrets/secrets.env
    ports:
      - 30303:30303
      - 30303:30303/udp
      - 8545:8545
      - 8546:8546
      - 8551:8551
    healthcheck:
      test: ["CMD-SHELL", "curl" ,"-H 'Content-Type: application/json'" ,"--data '{\"jsonrpc\":\"2.0\",\"method\":\"net_version\",\"params\":[],\"id\":67}'" ,"http://localhost:8545"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./init/secrets/geth_password:/geth/password
    command:
      - --datadir=/geth/data
      - --networkid=10997
      - --allow-insecure-unlock
      - --unlock=0xa994738936572Fb88564d69134F67Aaa7C7d4A6E
      - --password=/geth/password
      - --mine
      - --miner.threads=1
      - --nodiscover
      - --gcmode=archive
      - --http
      - --http.addr=0.0.0.0
      - --http.api=admin,db,debug,eth,miner,net,personal,shh,txpool,web3
      - --http.corsdomain=*
      - --http.vhosts=*
      - --mine
      - --miner.threads=1
      - --networkid=10997
      - --nodiscover
      - --password=/geth/password
      - --rpc.allow-unprotected-txs
      - --unlock=0xa994738936572Fb88564d69134F67Aaa7C7d4A6E
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.api=web3,eth,debug
      - --ws.origins=*
      - --ws.port=8546

  polkadot:
    container_name: polkadot
    platform: linux/amd64
    image: ghcr.io/chainflip-io/chainflip-private-polkadot/polkadot:v0.9.36
    pull_policy: if_not_present
    stop_grace_period: 5s
    stop_signal: SIGINT
    ports:
      # - 30333:30333 # p2p port
      - 9934:9933 # rpc port
      - 9945:9944 # ws port
    volumes:
      - ./init/polkadot/chainspec.json:/chainspec.json
    healthcheck:
      test: ["CMD-SHELL", "curl", "-H 'Content-Type: application/json;'", "-d '{\"id\":1, \"jsonrpc\":\"2.0\", \"method\": \"chain_getBlock\"}'", "http://localhost:9945"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    command:
      [
        "--name=PolkaDocker",
        "--rpc-methods=unsafe",
        "--ws-external",
        "--rpc-external",
        "--rpc-cors=all",
        "--chain=/chainspec.json",
        "--validator",
        "--force-authoring",
        "--alice",
        "--state-pruning=archive",
        "--blocks-pruning=archive"
      ]

  bitcoin:
    image: ghcr.io/chainflip-io/chainflip-bitcoin-regtest:v24.0.1
    platform: linux/amd64
    pull_policy: if_not_present
    container_name: bitcoin
    restart: unless-stopped
    ports:
      - 8332:8332
    stop_signal: SIGINT
    stop_grace_period: 5s
    healthcheck:
      test: ["CMD-SHELL", "curl", "--user flip:flip", "-H 'Content-Type: text/plain;'", "-d '{\"jsonrpc\":\"1.0\", \"id\": \"1\", \"method\": \"getblockchaininfo\", \"params\" : []}'", "http://127.0.0.1:8332"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
