version: "3.8"

services:
  geth:
    image: ghcr.io/chainflip-io/chainflip-eth-contracts/geth:perseverance-rc14-1-node-2023-06-08
    pull_policy: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    container_name: geth
    platform: linux/amd64
    restart: unless-stopped
    ports:
      - 30303:30303
      - 30303:30303/udp
      - 8545:8545
      - 8546:8546
      - 8551:8551
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "-H 'Content-Type: application/json'",
          "--data '{\"jsonrpc\":\"2.0\",\"method\":\"net_version\",\"params\":[],\"id\":67}'",
          "http://localhost:8545"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  polkadot:
    container_name: polkadot
    platform: linux/amd64
    image: ghcr.io/chainflip-io/chainflip-private-polkadot/polkadot:v0.9.36-ci
    pull_policy: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    ports:
      # - 30333:30333 # p2p port
      - 9934:9933 # rpc port
      - 9945:9944 # ws port
    volumes:
      - ./init/polkadot/chainspec.json:/chainspec.json
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "-H 'Content-Type: application/json;'",
          "-d '{\"id\":1, \"jsonrpc\":\"2.0\", \"method\": \"chain_getBlockHash\", \"params\" : [0]}'",
          "http://localhost:9945"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  bitcoin:
    image: ghcr.io/chainflip-io/chainflip-bitcoin-regtest:v24.0.1
    platform: linux/amd64
    pull_policy: always
    container_name: bitcoin
    restart: unless-stopped
    ports:
      - 8332:8332
    stop_signal: SIGINT
    stop_grace_period: 5s
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "--user flip:flip",
          "-H 'Content-Type: text/plain;'",
          "-d '{\"jsonrpc\":\"1.0\", \"id\": \"1\", \"method\": \"getblockchaininfo\", \"params\" : []}'",
          "http://127.0.0.1:8332"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
