version: "3.9"
services:
  redis:
    image: redis:6.2.6
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - "/tmp/chainflip/data/redis/data:/data"

  geth:
    image: ghcr.io/chainflip-io/nitro-testnode/geth:perseverance-rc17-1-node
    platform: linux/amd64
    ports:
      - "127.0.0.1:8545:8545"
      - "127.0.0.1:8551:8551"
      - "127.0.0.1:8546:8546"
      - "127.0.0.1:30303:30303"
    volumes:
      - "/tmp/chainflip/data/l1data/datadir:/datadir"
      - "/tmp/chainflip/data/l1keystore/keystore:/keystore"
      - "/tmp/chainflip/data/config/config:/config"

  sequencer:
    pid: host # allow debugging
    platform: linux/amd64
    image: ghcr.io/chainflip-io/nitro-testnode/testnode-sequencer:latest
    ports:
      - "127.0.0.1:8547:8547"
      - "127.0.0.1:8548:8548"
      - "127.0.0.1:9642:9642"
    volumes:
      - "/tmp/chainflip/data/seqdata/home/user/.arbirtum/local/nitro:/home/user/.arbitrum/local/nitro"
      - "/tmp/chainflip/data/config/config:/config"
    command: --conf.file /config/sequencer_config.json --node.feed.output.enable --node.feed.output.port 9642  --http.api net,web3,eth,txpool,debug --node.seq-coordinator.my-url  ws://sequencer:8548 --graphql.enable --graphql.vhosts * --graphql.corsdomain *
    depends_on:
      - geth
      - redis

  staker-unsafe:
    pid: host # allow debugging
    platform: linux/amd64
    image: ghcr.io/chainflip-io/nitro-testnode/testnode-staker:latest
    ports:
      - "127.0.0.1:8047:8547"
      - "127.0.0.1:8048:8548"
    volumes:
      - "/tmp/chainflip/data/unsafestaker-data/home/user/.arbitrum/local/nitro:/home/user/.arbitrum/local/nitro"
      - "/tmp/chainflip/data/l1keystore/home/user/l1keystore:/home/user/l1keystore"
      - "/tmp/chainflip/data/config/config:/config"
    command: --conf.file /config/unsafe_staker_config.json
    depends_on:
      - sequencer
      - redis

  polkadot:
    container_name: polkadot
    platform: linux/amd64
    image: ghcr.io/chainflip-io/chainflip-private-polkadot/polkadot:v0.9.36-ci
    pull_policy: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    ports:
      # - 30333:30333 # p2p port
      - 9934:9933 # rpc port
      - 9945:9944 # ws port
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "-H 'Content-Type: application/json;'",
          "-d '{\"id\":1, \"jsonrpc\":\"2.0\", \"method\": \"chain_getBlockHash\", \"params\" : [0]}'",
          "http://localhost:9945"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  bitcoin:
    image: ghcr.io/chainflip-io/chainflip-bitcoin-regtest:v24.0.1
    platform: linux/amd64
    pull_policy: always
    container_name: bitcoin
    restart: unless-stopped
    ports:
      - 8332:8332
    stop_signal: SIGINT
    stop_grace_period: 5s
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "--user flip:flip",
          "-H 'Content-Type: text/plain;'",
          "-d '{\"jsonrpc\":\"1.0\", \"id\": \"1\", \"method\": \"getblockchaininfo\", \"params\" : []}'",
          "http://127.0.0.1:8332"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s