services:
  eth-init:
    image: ghcr.io/chainflip-io/chainflip-eth-contracts/localnet-initial-state:v1.1.2-usdt-${NODE_COUNT}
    pull_policy: if_not_present
    container_name: init
    platform: linux/amd64
    volumes:
      - "/tmp/chainflip/data:/localnet-initial-state"
    command: /bin/sh -c "cp -R /initial-state/* /localnet-initial-state"

  solana-init:
    image: ghcr.io/chainflip-io/solana-localnet-ledger:v1.0.0-swap-endpoint
    pull_policy: if_not_present
    container_name: init-solana
    platform: linux/amd64
    volumes:
      - "/tmp/solana:/test-ledger"
    command: /bin/sh -c "cp -R /solana/solana-ledger.tar.gz /test-ledger"

  arb-init:
    image: ghcr.io/chainflip-io/chainflip-eth-contracts/arbitrum-gizmo-shop:v1.1.2-usdt-${NODE_COUNT}
    restart: always
    container_name: arb-init
    pull_policy: if_not_present
    platform: linux/amd64
    environment:
      ARB_ENDPOINT: "http://sequencer:8547"

  redis:
    image: redis:6.2.6
    ports:
      - "6379:6379"
    volumes:
      - "/tmp/chainflip/data/redis-data:/data"

  geth:
    image: ghcr.io/chainflip-io/chainflip-eth-contracts/geth:v1.1.2-usdt-${NODE_COUNT}
    container_name: geth
    platform: linux/amd64
    ports:
      - "8545:8545"
      - "8551:8551"
      - "8546:8546"
      - "30303:30303"
    volumes:
      - "/tmp/chainflip/data/l1data:/datadir"
      - "/tmp/chainflip/data/l1keystore:/keystore"
      - "/tmp/chainflip/data/config:/config"

  sequencer:
    image: offchainlabs/nitro-node:v2.0.14-2baa834-dev
    user: root
    platform: linux/amd64
    ports:
      - "8547:8547"
      - "8548:8548"
      - "9642:9642"
    volumes:
      - "/tmp/chainflip/data/seqdata:/home/user/.arbitrum/local/nitro"
      - "/tmp/chainflip/data/config:/config"
    command: --conf.file /config/sequencer_config.json --node.feed.output.enable --node.feed.output.port 9642  --http.api net,web3,eth,txpool,debug --node.seq-coordinator.my-url  ws://sequencer:8548 --graphql.enable --graphql.vhosts * --graphql.corsdomain *
    depends_on:
      - geth
      - redis

  staker-unsafe:
    image: offchainlabs/nitro-node:v2.0.14-2baa834-dev
    user: root
    platform: linux/amd64
    ports:
      - "8047:8547"
      - "8048:8548"
    volumes:
      - "/tmp/chainflip/data/unsafestaker-data:/home/user/.arbitrum/local/nitro"
      - "/tmp/chainflip/data/l1keystore:/home/user/l1keystore"
      - "/tmp/chainflip/data/config:/config"
    command: --conf.file /config/unsafe_staker_config.json
    depends_on:
      - sequencer
      - redis

  poster:
    image: offchainlabs/nitro-node:v2.0.14-2baa834-dev
    user: root
    platform: linux/amd64
    ports:
      - "8147:8547"
      - "8148:8548"
    volumes:
      - "/tmp/chainflip/data/poster-data:/home/user/.arbitrum/local/nitro"
      - "/tmp/chainflip/data/l1keystore:/home/user/l1keystore"
      - "/tmp/chainflip/data/config:/config"
    command: --conf.file /config/poster_config.json
    depends_on:
      - geth
      - redis

  polkadot:
    container_name: polkadot
    platform: linux/amd64
    image: docker.io/parity/polkadot:v1.10.0
    pull_policy: if_not_present
    stop_grace_period: 5s
    stop_signal: SIGINT
    volumes:
      - "../ci/docker/development/polkadot:/chainspecs:ro"
    environment:
      - RUST_BACKTRACE=full
    command:
      - --alice
      - --blocks-pruning=archive
      - --chain=/chainspecs/polkadot-dev.chainspec.v1.3.4.json
      - --force-authoring
      - --name=PolkaDocker
      - --rpc-cors=all
      - --rpc-external
      - --rpc-methods=unsafe
      - --state-pruning=archive
      - --rpc-max-connections=100000
      - --wasmtime-instantiation-strategy=recreate-instance-copy-on-write
    ports:
      - 9947:9944
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "-H 'Content-Type: application/json;'",
          "-d '{\"id\":1, \"jsonrpc\":\"2.0\", \"method\": \"chain_getBlockHash\", \"params\" : [0]}'",
          "http://localhost:9947"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  bitcoin:
    image: ghcr.io/chainflip-io/chainflip-backend/bitcoin:357aa6af70b3d57fe0a9df1fe1815f704e59db07
    platform: linux/amd64
    pull_policy: if_not_present
    container_name: bitcoin
    restart: unless-stopped
    ports:
      - 8332:8332
      - 3002:3002
    stop_signal: SIGINT
    stop_grace_period: 5s
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl",
          "--user flip:flip",
          "-H 'Content-Type: text/plain;'",
          "-d '{\"jsonrpc\":\"1.0\", \"id\": \"1\", \"method\": \"getblockchaininfo\", \"params\" : []}'",
          "http://127.0.0.1:8332"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  deposit-monitor:
    image: ghcr.io/chainflip-io/chainflip-deposit-monitor/chainflip-deposit-monitor:main-fb5b372059be6819454e03f0f1913fb77d999fcc
    platform: linux/amd64
    container_name: deposit-monitor
    restart: unless-stopped
    pull_policy: always
    ports:
      - 6060:6060
      - 6070:6070
    stop_signal: SIGINT
    stop_grace_period: 5s
    volumes:
      - "/tmp/chainflip/data/deposit-monitor:/persistent_state"
    environment:
      - CFDM_RUNNING_IN_MOCK_ENVIRONMENT=true
      - CFDM_BITCOIN_NETWORK=regtest
      - CFDM_PERSISTENT_STATE_DIR=/persistent_state
      - CFDM_CRITICAL_ELLIPTIC_RISK_SCORE=8.0
      - CFDM_BROKER_API_URL=${CFDM_BROKER_API_URL}
      - CFDM_BTC_RPC_HTTP_ENDPOINT=http://bitcoin:8332
      - CFDM_BTC_RPC_BASIC_AUTH_USER=flip
      - CFDM_BTC_RPC_BASIC_AUTH_PASSWORD=flip
      - CFDM_OUTPUT_PROCESSOR_PORT=6060
      - CFDM_MOCK_ANALYSIS_PROVIDER_PORT=6070
      - CFDM_ANALYSIS_PROVIDER_SELECTION=Mock
      - CFDM_REFUND_PROVIDER_SELECTION=BrokerApi
      - CFDM_STATECHAIN_DEPOSIT_CHANNELS_POLLING_INTERVAL_MILLIS=500
      - CFDM_BTC_MEMPOOL_POLLING_INTERVAL_MILLIS=500
      - CFDM_BTC_CHAIN_POLLING_INTERVAL_MILLIS=2000
      - CFDM_TRANSACTION_PROCESSOR_INCOMPLETE_ANALYSIS_TIMEOUT_SECS=120

