[Unit]
Description=Chainflip Validator Engine
After=chainflip-node.service

[Service]
Restart=always
RestartSec=30
Type=simple

ExecStart=/usr/bin/chainflip-engine --config-root /etc/chainflip/
Environment=RUST_LOG="chainflip_engine=debug,multisig=debug,warn,chainflip_engine::p2p=error"
LimitNOFILE=16000
LimitNOFILESoft=16000

[Install]
WantedBy=multi-user.target
