cargo-features = ['edition2021']

[package]
name = 'pallet-cf-auction'
version = '0.1.0'
description = 'Chainflip auction pallet'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
homepage = 'https://chainflip.io'
edition = '2021'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal deps
cf-traits = { path = '../../traits', default-features = false }
cf-runtime-upgrade-utilities = { path = '../../runtime-upgrade-utilities', default-features = false }

log = { version = '0.4.14', default-features = false }

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.3.1'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '1.0'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
optional = true
tag = 'merge-config-option'

[dev-dependencies]
assert_matches = { version = "1.5.0" }

[dev-dependencies.sp-core]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dev-dependencies.sp-io]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'


[features]
default = ['std']
std = [
    'cf-traits/std',
    'cf-runtime-upgrade-utilities/std',
    'codec/std',
    'scale-info/std',
    'frame-support/std',
    'frame-system/std',
    'sp-std/std',
    'sp-runtime/std',
    'log/std',
]
runtime-benchmarks = [
    'frame-benchmarking',
    'frame-support/runtime-benchmarks',
    'frame-system/runtime-benchmarks',
]
try-runtime = [
    'frame-support/try-runtime',
    'cf-runtime-upgrade-utilities/try-runtime',
]
