[Unit]
Description=Chainflip Validator Engine
After=chainflip-node.service

[Service]
Restart=always
RestartSec=30
Type=simple

ExecStart=/etc/chainflip/start-engine.sh

LimitNOFILE=16000
LimitNOFILESoft=16000

[Install]
WantedBy=multi-user.target
