[package]
authors = ['Chainflip Team <https://github.com/chainflip-io>']
name = 'pallet-cf-tokenholder-governance'
version = '0.1.0'
description = 'FRAME pallet providing tokenholder governance for Chainflip'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[lints]
workspace = true

[dependencies]
cf-chains = { workspace = true }
cf-primitives = { workspace = true }
cf-runtime-upgrade-utilities = { workspace = true }
cf-traits = { workspace = true }

# Parity deps
codec = { workspace = true, features = ['derive'] }
scale-info = { workspace = true, features = ['derive'] }

frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
cf-test-utilities = { workspace = true }
pallet-cf-flip = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-io = { workspace = true }

[features]
default = ['std']
std = [
    'cf-chains/std',
    'cf-primitives/std',
    'cf-runtime-upgrade-utilities/std',
    'cf-traits/std',
    'codec/std',
    'frame-benchmarking?/std',
    'frame-support/std',
    'frame-system/std',
    'scale-info/std',
    'sp-std/std',
]
runtime-benchmarks = [
    'cf-chains/runtime-benchmarks',
    'cf-traits/runtime-benchmarks',
    'frame-benchmarking/runtime-benchmarks',
    'frame-support/runtime-benchmarks',
    'frame-system/runtime-benchmarks',
]
try-runtime = [
    'cf-runtime-upgrade-utilities/try-runtime',
    'frame-support/try-runtime',
    'frame-system/try-runtime',
]
