[package]
name = 'pallet-cf-witnesser'
version = '0.1.0'
authors = ['Chainflip <https://chainflip.io>']
description = 'FRAME pallet for chainflip witnessing.'
edition = '2021'
homepage = 'https://chainflip.io'
license = 'TBC'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend/pallets/'

[lib]
doctest = false

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
hex = { version = '0.4', default-features = false }
# Internal deps
cf-traits = { path = '../../traits', default-features = false }

# Local deps
utilities = { path = '../../../utilities', default-features = false }

# Non-substrate external deps
bitvec = { default-features = false, version = '0.20', features = ['alloc'] }

# Parity deps
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '3.0.0'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-05'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-05'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '2.0.1'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-05'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-05'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
optional = true
tag = 'chainflip-monthly-2022-05'

# Dev dependencies
[dev-dependencies]
cf-test-utilities = { path = '../../test-utilities', default-features = false }

[dev-dependencies.sp-io]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-05'

[dev-dependencies.sp-core]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-05'

[features]
default = ['std']
std = [
  'bitvec/std',
  'cf-traits/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = ['frame-support/try-runtime']
