[package]
name = 'pallet-cf-witnesser'
version = '0.1.0'
authors = ['Chainflip <https://chainflip.io>']
description = 'FRAME pallet for chainflip witnessing.'
edition = '2021'
homepage = 'https://chainflip.io'
license = 'TBC'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend/pallets/'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
hex = { version = '0.4', default-features = false }

# Internal deps
cf-traits = { path = '../../traits', default-features = false }
cf-primitives = { path ='../../primitives', default-features = false }

# Local deps
utilities = { path = '../../../utilities', default-features = false }

# Non-substrate external deps
bitvec = { default-features = false, version = '1.0', features = ['alloc'] }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }
scale-info = { version = '2.1.1', default-features = false, features = ['derive'] }

frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", optional = true, default-features = false }
frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2", default-features = false }

[dev-dependencies]
cf-test-utilities = { path = '../../test-utilities' }
sp-io = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }

[features]
default = ['std']
std = [
  'bitvec/std',
  'cf-traits/std',
  'cf-primitives/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'cf-traits/runtime-benchmarks'
]
try-runtime = ['frame-support/try-runtime']
