[Unit]
Description=Chainflip Archive Node

[Service]
Restart=always
RestartSec=30

User=flip
Group=flip

WorkingDirectory=/etc/chainflip

ExecStart=/usr/bin/chainflip-node \
    --chain=/etc/chainflip/development.chainspec.json \
    --base-path=/etc/chainflip/chaindata \
    --node-key-file=/etc/chainflip/keys/node_key_file \
    --trie-cache-size=0 \
    --prometheus-external \
    --rpc-cors=all \
    --rpc-methods=unsafe \
    --state-pruning=archive \
    --blocks-pruning=archive \
    --unsafe-rpc-external \
    --sync=full

NoNewPrivileges=yes
CapabilityBoundingSet=
SystemCallArchitectures=native
SystemCallFilter=@system-service

PrivateDevices=yes
PrivateUsers=yes
PrivateTmp=yes

ProtectClock=yes
ProtectHome=true
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectHostname=yes
ProtectControlGroups=yes

RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
