[package]
name = 'pallet-cf-validator'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal deps
cf-primitives = { path = '../../primitives', default-features = false }
cf-runtime-upgrade-utilities = { path = '../../runtime-upgrade-utilities', default-features = false }
cf-traits = { path = '../../traits', default-features = false }
cf-utilities = { package = 'utilities', path = '../../../utilities', default-features = false }

# Used for benchmarking
pallet-cf-funding = { path = '../cf-funding', optional = true, default-features = false }
pallet-cf-reputation = { path = '../cf-reputation', optional = true, default-features = false }
pallet-cf-vaults = { path = '../cf-vaults', optional = true, default-features = false }

log = { version = '0.4.16', default-features = false }
nanorand = { version = '0.7.0', default-features = false, features = [
  'wyrand',
] }
serde = { default_features = false, version = '1.0.126', features = [
  'alloc',
  'derive',
] }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.5.0', default-features = false, features = [
  'derive',
] }

frame-benchmarking = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", optional = true, default-features = false }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
sp-application-crypto = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false, optional = true }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }

pallet-session = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }

[dev-dependencies]
cf-test-utilities = { path = '../../test-utilities' }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2" }
sp-io = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2" }
lazy_static = "1.4"

[features]
default = ['std']
std = [
  'cf-primitives/std',
  'cf-runtime-upgrade-utilities/std',
  'cf-traits/std',
  'cf-utilities/std',
  'codec/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'log/std',
  'nanorand/std',
  'pallet-cf-vaults/std',
  'pallet-cf-funding/std',
  'pallet-cf-reputation/std',
  'pallet-session/std',
  'scale-info/std',
  'serde/std',
  'sp-application-crypto/std',
  'sp-core/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'cf-primitives/runtime-benchmarks',
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'pallet-cf-funding/runtime-benchmarks',
  'pallet-cf-reputation/runtime-benchmarks',
  'pallet-cf-vaults/runtime-benchmarks',
  'dep:sp-application-crypto',
]
try-runtime = [
  'frame-support/try-runtime',
  'frame-system/try-runtime',
  'cf-runtime-upgrade-utilities/try-runtime',
  'pallet-cf-funding/try-runtime',
  'pallet-cf-reputation/try-runtime',
  'pallet-cf-vaults/try-runtime',
  'pallet-session/try-runtime',
]
