[package]
name = 'pallet-cf-validator'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal deps
cf-traits = { path = '../../traits', default-features = false }
cf-primitives = { path ='../../primitives', default-features = false }
cf-runtime-upgrade-utilities = { path = '../../runtime-upgrade-utilities', default-features = false }
cf-utilities = { package = 'utilities', path = '../../../utilities', default-features = false }

# Used for benchmarking
pallet-cf-staking = { path = '../cf-staking', optional = true, default-features = false }
pallet-cf-reputation = { path = '../cf-reputation', optional = true, default-features = false }
pallet-cf-vaults = { path = '../cf-vaults', optional = true, default-features = false }

log = { version = '0.4.16', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }
scale-info = { version = '2.1.1', default-features = false, features = ['derive'] }

frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", optional = true, default-features = false }

sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-application-crypto = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false, optional = true }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }

pallet-session = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }

# Dev dependencies
[dev-dependencies]
cf-test-utilities = { path = '../../test-utilities' }
simple_logger = '2.1.0'
nanorand = { version = '0.6', default-features = false, features = ['wyrand']}

sp-io = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
[features]
default = ['std']
std = [
  'cf-traits/std',
  'cf-primitives/std',
  'cf-runtime-upgrade-utilities/std',
  'cf-utilities/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'sp-std/std',
  'sp-core/std',
  'sp-runtime/std',
  'pallet-session/std',
  'log/std',
]
runtime-benchmarks = [
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'pallet-cf-staking',
  'pallet-cf-reputation',
  'pallet-cf-vaults',
  'sp-application-crypto',
]
try-runtime = [
  'frame-support/try-runtime',
  'cf-runtime-upgrade-utilities/try-runtime',
]
