[package]
name = "pallet-cf-validator"
version = "0.1.0"
authors = ["Chainflip Team <https://github.com/chainflip-io>"]
edition = "2021"
homepage = "https://chainflip.io"
license = "<TODO>"
publish = false
repository = "https://github.com/chainflip-io/chainflip-backend"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true

[dependencies]
# Internal deps
cf-primitives = { workspace = true }
cf-runtime-utilities = { workspace = true }
cf-traits = { workspace = true }
cf-utilities = { workspace = true }

# Used for benchmarking
pallet-cf-funding = { workspace = true, optional = true }
pallet-cf-reputation = { workspace = true, optional = true }

log = { workspace = true }
nanorand = { workspace = true, features = ["wyrand"] }
serde = { workspace = true, features = ["derive", "alloc"] }

# Parity deps
codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }

frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-application-crypto = { workspace = true, optional = true }
sp-std = { workspace = true }
sp-core = { workspace = true }

pallet-session = { workspace = true }

[dev-dependencies]
cf-test-utilities = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }
sp-io = { workspace = true, default-features = true }
lazy_static = { workspace = true }

[features]
default = ["std"]
std = [
  "cf-primitives/std",
  "cf-runtime-utilities/std",
  "cf-traits/std",
  "cf-utilities/std",
  "codec/std",
  "frame-benchmarking?/std",
  "frame-support/std",
  "frame-system/std",
  "log/std",
  "nanorand/std",
  "pallet-session/std",
  "scale-info/std",
  "serde/std",
  "sp-application-crypto/std",
  "sp-core/std",
  "sp-std/std",
]
runtime-benchmarks = [
  "cf-traits/runtime-benchmarks",
  "cf-runtime-utilities/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-cf-funding/runtime-benchmarks",
  "pallet-cf-reputation/runtime-benchmarks",
  "dep:sp-application-crypto",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "cf-runtime-utilities/try-runtime",
  "pallet-cf-funding/try-runtime",
  "pallet-cf-reputation/try-runtime",
  "pallet-session/try-runtime",
]
