[package]
name = 'cf-integration-tests'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[lints]
workspace = true

[dependencies]
state-chain-runtime = { path = '../runtime' }
log = { version = '0.4.16', default-features = false }

[dev-dependencies]
libsecp256k1 = { version = "0.7", features = ['static-context'] }
rand = "0.8.4"
hex-literal = "0.4.1"
secp256k1 = { version = "0.27", features = ["rand-std"] }
arrayref = '0.3.6'

# Chainflip local dependencies
# Additional FRAME pallets
cf-amm = { path = '../amm' }
cf-chains = { path = '../chains', features = ['runtime-integration-tests'] }
cf-primitives = { path = '../primitives' }
cf-test-utilities = { path = '../test-utilities' }
cf-utilities = { package = 'utilities', path = '../../utilities' }
cf-traits = { path = '../traits' }
cfe-events = { path = '../cfe-events' }
chainflip-node = { path = '../node' }
pallet-authorship = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
pallet-cf-account-roles = { path = '../pallets/cf-account-roles' }
pallet-cf-broadcast = { path = '../pallets/cf-broadcast' }
pallet-cf-chain-tracking = { path = '../pallets/cf-chain-tracking' }
pallet-cf-emissions = { path = '../pallets/cf-emissions' }
pallet-cf-environment = { path = '../pallets/cf-environment' }
pallet-cf-flip = { path = '../pallets/cf-flip' }
pallet-cf-funding = { path = '../pallets/cf-funding' }
pallet-cf-governance = { path = '../pallets/cf-governance' }
pallet-cf-ingress-egress = { path = '../pallets/cf-ingress-egress' }
pallet-cf-lp = { path = '../pallets/cf-lp' }
pallet-cf-pools = { path = '../pallets/cf-pools' }
pallet-cf-reputation = { path = '../pallets/cf-reputation' }
pallet-cf-swapping = { path = '../pallets/cf-swapping' }
pallet-cf-threshold-signature = { path = '../pallets/cf-threshold-signature' }
pallet-cf-validator = { path = '../pallets/cf-validator' }
pallet-cf-vaults = { path = '../pallets/cf-vaults' }
pallet-cf-witnesser = { path = '../pallets/cf-witnesser' }
pallet-session = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", features = [
    'historical',
] }

# Substrate dependencies
codec = { package = "parity-scale-codec", version = "3.6.1", features = [
    "derive",
] }
scale-info = { version = "2.10.0", features = ["derive"] }

frame-executive = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
frame-system-rpc-runtime-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }

pallet-aura = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
pallet-grandpa = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
pallet-timestamp = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
pallet-transaction-payment = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }

sp-block-builder = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-consensus-aura = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }

sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-inherents = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-offchain = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-session = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-transaction-pool = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-version = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-consensus-grandpa = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-timestamp = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
