[package]
name = 'cf-integration-tests'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[lints]
workspace = true

[dependencies]
state-chain-runtime = { path = '../runtime' }
log = { version = '0.4.16', default-features = false }

[dev-dependencies]
libsecp256k1 = { version = "0.7", features = ['static-context'] }
rand = "0.8.4"
hex-literal = "0.4.1"
secp256k1 = { version = "0.27", features = ["rand-std"] }
arrayref = '0.3.6'

# Chainflip local dependencies
# Additional FRAME pallets
cf-amm = { path = '../amm' }
cf-chains = { path = '../chains', features = ['runtime-integration-tests'] }
cf-primitives = { path = '../primitives' }
cf-test-utilities = { path = '../test-utilities' }
cf-utilities = { package = 'utilities', path = '../../utilities' }
cf-traits = { path = '../traits' }
cfe-events = { path = '../cfe-events' }
chainflip-node = { path = '../node' }
pallet-authorship = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
pallet-cf-account-roles = { path = '../pallets/cf-account-roles' }
pallet-cf-broadcast = { path = '../pallets/cf-broadcast' }
pallet-cf-chain-tracking = { path = '../pallets/cf-chain-tracking' }
pallet-cf-emissions = { path = '../pallets/cf-emissions' }
pallet-cf-environment = { path = '../pallets/cf-environment' }
pallet-cf-flip = { path = '../pallets/cf-flip' }
pallet-cf-funding = { path = '../pallets/cf-funding' }
pallet-cf-governance = { path = '../pallets/cf-governance' }
pallet-cf-ingress-egress = { path = '../pallets/cf-ingress-egress' }
pallet-cf-lp = { path = '../pallets/cf-lp' }
pallet-cf-asset-balances = { path = '../pallets/cf-asset-balances' }
pallet-cf-elections = { path = '../pallets/cf-elections' }
pallet-cf-pools = { path = '../pallets/cf-pools' }
pallet-cf-reputation = { path = '../pallets/cf-reputation' }
pallet-cf-swapping = { path = '../pallets/cf-swapping' }
pallet-cf-threshold-signature = { path = '../pallets/cf-threshold-signature' }
pallet-cf-validator = { path = '../pallets/cf-validator' }
pallet-cf-vaults = { path = '../pallets/cf-vaults' }
pallet-cf-witnesser = { path = '../pallets/cf-witnesser' }
pallet-session = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2", features = [
	'historical',
] }

# Substrate dependencies
codec = { package = "parity-scale-codec", version = "3.6.12", features = [
	"derive",
] }
scale-info = { version = "2.11.1", features = ["derive"] }

frame-executive = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
frame-system-rpc-runtime-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }

pallet-aura = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
pallet-grandpa = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
pallet-timestamp = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
pallet-transaction-payment = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }

sp-block-builder = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sp-consensus-aura = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }

sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-inherents = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-offchain = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-session = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-transaction-pool = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-version = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-consensus-grandpa = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }
sp-timestamp = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+1" }

[features]
try-runtime = [
	'frame-support/try-runtime',
	'frame-system/try-runtime',
	"cf-traits/try-runtime",
	"chainflip-node/try-runtime",
	"frame-executive/try-runtime",
	"pallet-aura/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-cf-account-roles/try-runtime",
	"pallet-cf-asset-balances/try-runtime",
	"pallet-cf-broadcast/try-runtime",
	"pallet-cf-chain-tracking/try-runtime",
	"pallet-cf-elections/try-runtime",
	"pallet-cf-emissions/try-runtime",
	"pallet-cf-environment/try-runtime",
	"pallet-cf-flip/try-runtime",
	"pallet-cf-funding/try-runtime",
	"pallet-cf-governance/try-runtime",
	"pallet-cf-ingress-egress/try-runtime",
	"pallet-cf-lp/try-runtime",
	"pallet-cf-pools/try-runtime",
	"pallet-cf-reputation/try-runtime",
	"pallet-cf-swapping/try-runtime",
	"pallet-cf-threshold-signature/try-runtime",
	"pallet-cf-validator/try-runtime",
	"pallet-cf-vaults/try-runtime",
	"pallet-cf-witnesser/try-runtime",
	"pallet-grandpa/try-runtime",
	"pallet-session/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"sp-runtime/try-runtime",
	"state-chain-runtime/try-runtime",
	"cf-chains/try-runtime",
	"cf-primitives/try-runtime",
	"cf-test-utilities/try-runtime",
	"cfe-events/try-runtime",
	"cf-amm/try-runtime",
]
std = ["chainflip-node/std", "log/std"]
runtime-benchmarks = [
	"cf-amm/runtime-benchmarks",
	"cf-chains/runtime-benchmarks",
	"cf-primitives/runtime-benchmarks",
	"cf-test-utilities/runtime-benchmarks",
	"cf-traits/runtime-benchmarks",
	"cfe-events/runtime-benchmarks",
	"chainflip-node/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-cf-account-roles/runtime-benchmarks",
	"pallet-cf-asset-balances/runtime-benchmarks",
	"pallet-cf-broadcast/runtime-benchmarks",
	"pallet-cf-chain-tracking/runtime-benchmarks",
	"pallet-cf-elections/runtime-benchmarks",
	"pallet-cf-emissions/runtime-benchmarks",
	"pallet-cf-environment/runtime-benchmarks",
	"pallet-cf-flip/runtime-benchmarks",
	"pallet-cf-funding/runtime-benchmarks",
	"pallet-cf-governance/runtime-benchmarks",
	"pallet-cf-ingress-egress/runtime-benchmarks",
	"pallet-cf-lp/runtime-benchmarks",
	"pallet-cf-pools/runtime-benchmarks",
	"pallet-cf-reputation/runtime-benchmarks",
	"pallet-cf-swapping/runtime-benchmarks",
	"pallet-cf-threshold-signature/runtime-benchmarks",
	"pallet-cf-validator/runtime-benchmarks",
	"pallet-cf-vaults/runtime-benchmarks",
	"pallet-cf-witnesser/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"state-chain-runtime/runtime-benchmarks",
]
