[package]
name = 'cf-integration-tests'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dev-dependencies]
libsecp256k1 = { version = '0.7', features = ['static-context'] }
rand = {version='0.8.4'}

# Chainflip local dependencies
state-chain-runtime = { path = '../runtime'}
cf-traits = { path = '../traits'}
cf-chains = { path = '../chains', features = ['runtime-integration-tests']}
pallet-cf-validator = { path = '../pallets/cf-validator'}
pallet-cf-staking = { path = '../pallets/cf-staking'}
pallet-cf-witnesser = { path = '../pallets/cf-witnesser', default-features = false}
pallet-cf-flip = { path = '../pallets/cf-flip'}
pallet-cf-auction = { path = '../pallets/cf-auction'}
pallet-cf-emissions = { path = '../pallets/cf-emissions'}
pallet-cf-governance = { path = '../pallets/cf-governance'}
pallet-cf-reputation = { path = '../pallets/cf-reputation'}
pallet-cf-vaults = { path = '../pallets/cf-vaults'}
pallet-cf-threshold-signature = { path = '../pallets/cf-threshold-signature'}
pallet-cf-broadcast = { path = '../pallets/cf-broadcast'}
pallet-cf-environment = { path = '../pallets/cf-environment'}


# Additional FRAME pallets
[dev-dependencies.pallet-authorship]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.pallet-session]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'
features = ['historical']

# Substrate dependencies
[dev-dependencies.codec]
features = ['derive']
package = 'parity-scale-codec'
version = '3.0.0'


[dev-dependencies.frame-executive]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.frame-support]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.frame-system]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.frame-system-rpc-runtime-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.hex-literal]
version = '0.3.1'

[dev-dependencies.pallet-aura]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.pallet-grandpa]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.pallet-randomness-collective-flip]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.pallet-timestamp]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.pallet-transaction-payment]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.scale-info]
features = ['derive']
version = '2.0.1'

[dev-dependencies.sp-block-builder]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-consensus-aura]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'
version = '0.10.0-dev'

[dev-dependencies.sp-core]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-inherents]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-offchain]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-runtime]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-session]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-std]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-transaction-pool]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-version]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'

[dev-dependencies.sp-finality-grandpa]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-06'
