[package]
name = 'custom-rpc'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'

# Chainflip Runtime
[dependencies.state-chain-runtime]
path = '../runtime'

[dependencies]
jsonrpsee = { version = "0.13.0", features = ["full"] }
serde = { version = '1.0', features = ['derive'] }
cf-chains = { path = '../chains' }
cf-utilities = { package = 'utilities', path = '../../utilities' }
pallet-cf-governance = {path = "../pallets/cf-governance"}
pallet-cf-pools-runtime-api = {path = "../pallets/cf-pools/runtime-api", optional = true}
hex = '0.4.3'

[dependencies.sp-runtime]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-rpc]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sc-client-api]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[features]
ibiza = [
    'pallet-cf-pools-runtime-api'
]