[package]
name = 'custom-rpc'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'


[dependencies]

# Chainflip Runtime
state-chain-runtime = { path = '../runtime' }

jsonrpsee = { version = "0.15.1", features = ["full"] }
serde = { version = '1.0', features = ['derive'] }
cf-chains = { path = '../chains' }
cf-primitives = { path = '../primitives' }
cf-utilities = { package = 'utilities', path = '../../utilities' }
cf-amm = { path = '../amm'}
pallet-cf-governance = {path = "../pallets/cf-governance"}
hex = '0.4.3'

sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }
sp-api = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }
sp-rpc = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }
sc-client-api = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }