[package]
name = 'custom-rpc'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
edition = '2021'

[lints]
workspace = true

[dependencies]
codec = { package = "parity-scale-codec", version = "3.6.12" }

# Chainflip Runtime
state-chain-runtime = { workspace = true }

anyhow = "1.0"
futures = "0.3.30"
jsonrpsee = { version = "0.23.2", features = ["full"] }
hex = '0.4.3'
serde = { version = "1.0.197", features = ['derive'] }
thiserror = "1.0"
log = { version = '0.4' }

cf-chains = { path = '../chains' }
cf-primitives = { path = '../primitives' }
cf-utilities = { package = 'utilities', path = '../../utilities' }
cf-amm = { path = '../amm' }
pallet-cf-governance = { path = "../pallets/cf-governance" }
pallet-cf-pools = { path = "../pallets/cf-pools" }
pallet-cf-witnesser = { path = "../pallets/cf-witnesser" }
pallet-cf-swapping = { path = "../pallets/cf-swapping" }

sp-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sp-rpc = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sc-rpc = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sc-rpc-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sp-state-machine = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
sc-client-api = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.15.2+2" }

[dev-dependencies]
insta = { version = "1.34.0", features = ["json"] }
serde_json = { version = "1.0.111" }
