[package]
name = 'pallet-cf-cfe-interface'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'Pallet for interfacing with the CFE'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[lints]
workspace = true

[dependencies]
# Internal dependencies
cf-traits = { path = '../../traits', default-features = false }
cf-primitives = { path = '../../primitives', default-features = false }
cf-chains = { path = "../../chains", default-features = false }
cfe-events = { path = "../../cfe-events", default-features = false }
cf-runtime-upgrade-utilities = { path = '../../runtime-upgrade-utilities', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.10.0', default-features = false, features = [
  'derive',
] }
frame-benchmarking = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'cf-traits/std',
  'cf-runtime-upgrade-utilities/std',
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'scale-info/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'cf-chains/runtime-benchmarks',
  'cf-primitives/runtime-benchmarks',
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = [
  'cf-runtime-upgrade-utilities/try-runtime',
  'frame-support/try-runtime',
  'frame-system/try-runtime',
]
