[package]
name = "sol-prim"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# Required for Solana. May differ from the workspace's version.
curve25519-dalek = { version = "^2.1", optional = true, default-features = false, features = [
	"u64_backend",
] }

cf-utilities = { package = "utilities", path = "../../../utilities", default-features = false }
bs58 = { workspace = true, optional = true }
digest = { version = "^0.10", optional = true, default-features = false }
serde = { workspace = true, optional = true, features = ["derive"] }
sha2 = { workspace = true, optional = true }
thiserror = { workspace = true, optional = true }
codec = { workspace = true, optional = true, features = [
	'derive',
] }
scale-info = { workspace = true, optional = true, features = [
	'derive',
] }

[dev-dependencies]
serde_json = { workspace = true }

[features]
default = ["str", "serde", "pda", "scale", "std"]
pda = ["dep:digest", "dep:sha2", "dep:curve25519-dalek"]
serde = ["dep:serde", "str"]
str = ["dep:bs58"]
scale = ["dep:codec", "dep:scale-info"]
std = [
	"bs58?/std",
	"curve25519-dalek?/std",
	"digest?/std",
	"codec?/std",
	"codec?/derive",
	"scale-info?/std",
	"scale-info?/derive",
	"serde?/std",
	"serde?/derive",
	"sha2?/std",
	"cf-utilities/std",
	"dep:thiserror",
]
