[package]
name = "cf-runtime-utilities"
version = "0.1.0"
edition = "2021"
authors = ["Chainflip <https://chainflip.io>"]
description = "Utilities for interacting with substrate runtimes."

[lints]
workspace = true

[dependencies]
log = { workspace = true }
hex-literal = { workspace = true }
codec = { workspace = true, features = ["derive"] }

cf-runtime-macros = { workspace = true, optional = true }

sp-core = { workspace = true }
sp-std = { workspace = true }
# Not used in this crate but required in order to import sp-io without conflicts.
sp-runtime = { workspace = true }
sp-io = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }

[features]
default = ["std"]
std = [
  "codec/std",
  "frame-support/std",
  "frame-system/std",
  "sp-std/std",
  "sp-io/std",
  "sp-runtime/std",
  "log/std",
]
derive = ["cf-runtime-macros"]
try-runtime = ["frame-support/try-runtime"]
runtime-benchmarks = [
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
]