[package]
name = 'cf-runtime-utilities'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Utilities for interacting with substrate runtimes.'

[dependencies]
log = { version = '0.4.16', default-features = false }
cf-runtime-macros = { path = './macros', optional = true, default-features = false }

codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }

sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1", default-features = false }
# Not used in this crate but required in order to import sp-io without conflicts.
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1", default-features = false }
sp-io = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1", default-features = false }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1", default-features = false }

[features]
default = ['std']
std = [
  'codec/std',
  'frame-support/std',
  'sp-std/std',
  'sp-io/std',
  'sp-runtime/std',
  'log/std',
]
derive = ['cf-runtime-macros']
