[Unit]
Description=Chainflip Genesis Node

[Service]
Restart=always
RestartSec=30

WorkingDirectory=/etc/chainflip

ExecStart=/usr/bin/chainflip-node \
    --chain=/etc/chainflip/berghain.chainspec.json \
    --base-path=/etc/chainflip/chaindata \
    --node-key-file=/etc/chainflip/keys/node_key_file \
    --validator \
    --trie-cache-size=0 \
    --sync=full

[Install]
WantedBy=multi-user.target
