[env]
CF_ETH_CONTRACT_ABI_ROOT = { value = "contract-interfaces/eth-contract-abis", relative = true }
CF_ETH_CONTRACT_ABI_TAG = "v1.0.0"
CF_SOL_PROGRAM_IDL_ROOT = { value = "contract-interfaces/sol-program-idls", relative = true }
CF_SOL_PROGRAM_IDL_TAG = "test-tag-10"
CF_TEST_CONFIG_ROOT = { value = "engine/config/testing", relative = true }

# Note: If you just want to save typing command commands, you can install tab completions for most shells. Type
# `rustup completions --help` to find out how to set this up.

[alias]
cf-test = "test --features runtime-benchmarks,try-runtime"
cf-test-ci = "test --release --features runtime-benchmarks,slow-tests,try-runtime"
cf-test-cfe = "test --package chainflip-engine --package multisig"

cf-clippy = "clippy --all-targets --features runtime-benchmarks,try-runtime,runtime-integration-tests,slow-tests -- -D warnings -A deprecated"
cf-clippy-ci = "clippy --all-targets --features runtime-benchmarks,try-runtime,runtime-integration-tests,slow-tests -- -D warnings -A deprecated"

cf-build = "build --features runtime-benchmarks,try-runtime"

cf-build-try-runtime = "build --release --features try-runtime"
cf-build-release = "build --release"
cf-build-production = "build --profile=production"
# Check for feature inconsistencies.
check-sc-features = '''
tree --no-default-features --depth 1 --edges=features,normal
    -p state-chain-*
    -p pallet-cf-*
    -p cf-*
'''

# The `cf-audit` command is configured to ignore the following advisories:
# Vulnerabilities:
# - RUSTSEC-2022-0093: This advisory is related to ed25519-dalek's public api design, which we don't expose.
# - RUSTSEC-2023-0052: This advisory comes from webpki, a dependency of ethers-rs. CPU denial of service in certificate path building. We don't use this functionality.
# Unsound:
# - RUSTSEC-2021-0145: This advisory only affects the windows platform. It's a transitive dependency of `substrate`.
# Unmaintained:
# - RUSTSEC-2020-0168: This advisory comes from `mach`, which is unmaintained but not a security issue. It's a dependency of `subxt`.
# - RUSTSEC-2021-0059: This is a transitive dependency of libp2p and will be fixed in an upcoming release.
# - RUSTSEC-2021-0060: This is a transitive dependency of libp2p and will be fixed in an upcoming release.
# - RUSTSEC-2021-0139: This advisory comes from `ansi_term`, which is unmaintained but not a security issue. It's a dependency of `subxt`.
# - RUSTSEC-2022-0061: This advisory is related to the deprecated `parity-wasm`, not a security issue. It's a dependency of `substrate`.
# - RUSTSEC-2023-0074: Related to zerocopy, this is a transitive dependency. We can update this when we update substrate.
cf-audit = '''
audit -D unmaintained -D unsound
    --ignore RUSTSEC-2022-0093
    --ignore RUSTSEC-2023-0052
    --ignore RUSTSEC-2021-0145
    --ignore RUSTSEC-2020-0168
    --ignore RUSTSEC-2021-0059
    --ignore RUSTSEC-2021-0060
    --ignore RUSTSEC-2021-0139
    --ignore RUSTSEC-2022-0061
    --ignore RUSTSEC-2023-0074
'''
