cargo-features = ['edition2021']

[package]
name = "cf-traits"
version = "0.1.0"
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = "Common traits used in the Chainflip runtime"

[dependencies]
log = { version = '0.4.14', default-features = false }

# Internal
cf-chains = { path ='../chains', default-features = false }

# Parity deps
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.3.1'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '1.0'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'
optional = true

[dev-dependencies.sp-core]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dev-dependencies.sp-io]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[features]
default = ['std']
std = [
    'cf-chains/std',
    'codec/std',
    'scale-info/std',
    'sp-std/std',
    'frame-support/std',
    'frame-system/std',
    'sp-runtime/std',
]
runtime-benchmarks = [
    'frame-support/runtime-benchmarks',
    'frame-system/runtime-benchmarks',
    'cf-chains/runtime-benchmarks',
]
