[package]
name = "cf-traits"
version = "0.1.0"
edition = "2018"
authors = ['Chainflip <https://chainflip.io>']
description = "Common traits used in the Chainflip runtime"

[dependencies]
# Internal
cf-chains = { path ='../chains', default-features = false }

# Parity deps
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.3.1'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '1.0'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-09+1'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-09+1'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-09+1'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-09+1'

[dependencies.frame-benchmark]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
tag = 'monthly-2021-09+1'

[features]
default = ['std']
std = [
    'cf-chains/std',
    'codec/std',
    'scale-info/std',
    'sp-std/std',
    'frame-support/std',
    'frame-system/std',
    'sp-runtime/std',
    'frame-benchmarking/std',
]
runtime-benchmarks = [
    'frame-benchmarking',
    'frame-support/runtime-benchmarks',
    'frame-system/runtime-benchmarks',
]
