[package]
name = 'cf-traits'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Common traits used in the Chainflip runtime'

[dependencies]
log = { version = '0.4.16', default-features = false }

# Internal
cf-chains = { path ='../chains', default-features = false }
cf-primitives = { path ='../primitives', default-features = false }

# Parity deps
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '3.0.0'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '2.1.1'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.frame-benchmarking]
default-features = false
optional = true
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dev-dependencies.sp-core]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dev-dependencies.sp-io]
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'codec/std',
  'scale-info/std',
  'sp-std/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
]
runtime-benchmarks = [
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'cf-chains/runtime-benchmarks',
]
ibiza = ["cf-chains/ibiza"]