[package]
name = 'cf-traits'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Common traits used in the Chainflip runtime'

[lints]
workspace = true

[dependencies]
log = { version = '0.4.16', default-features = false }

# Internal
cf-chains = { path = '../chains', default-features = false }
cf-primitives = { path = '../primitives', default-features = false }
cfe-events = { path = '../cfe-events', default-features = false }
cf-amm = { path = "../amm", default-features = false}

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.10.0', default-features = false, features = [
  'derive',
] }

frame-benchmarking = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6+1", default-features = false, optional = true }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6+1", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6+1", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6+1", default-features = false }

[dev-dependencies]
sp-io = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6+1" }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6+1" }
serde = { default_features = false, version = '1.0.126', features = [
  'alloc',
  'derive',
] }

[features]
default = ['std']
std = [
	'cf-chains/std',
	'cf-primitives/std',
	'codec/std',
	'frame-benchmarking?/std',
	'frame-support/std',
	'frame-system/std',
	'log/std',
	'scale-info/std',
	'sp-std/std',
	'serde/std',
	'cf-amm/std',
	"cfe-events/std"
]
runtime-benchmarks = [
	'cf-chains/runtime-benchmarks',
	'cf-primitives/runtime-benchmarks',
	'frame-benchmarking/runtime-benchmarks',
	'frame-support/runtime-benchmarks',
	'frame-system/runtime-benchmarks',
	"cfe-events/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"cf-amm/runtime-benchmarks"
]
try-runtime = [
	'frame-support/try-runtime',
	'frame-system/try-runtime',
	"sp-runtime/try-runtime",
	"cf-chains/try-runtime",
	"cf-primitives/try-runtime",
	"cfe-events/try-runtime",
	"cf-amm/try-runtime"
]
