[package]
name = 'cf-traits'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Common traits used in the Chainflip runtime'

[lints]
workspace = true

[dependencies]
log = { workspace = true }

# Internal
cf-chains = { workspace = true }
cf-primitives = { workspace = true }
cfe-events = { workspace = true }
cf-amm = { workspace = true }

# # Parity deps
codec = { workspace = true, features = ['derive'] }
scale-info = { workspace = true, features = ['derive'] }

frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true, features = ["std"] }
sp-runtime = { workspace = true, features = ["std"] }
serde = { workspace = true, features = ["derive", "alloc"] }

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'codec/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'log/std',
  'scale-info/std',
  'sp-std/std',
  'cf-amm/std',
]
runtime-benchmarks = [
  'cf-chains/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = ['frame-support/try-runtime', 'frame-system/try-runtime']
