[package]
name = 'cf-traits'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Common traits used in the Chainflip runtime'

[dependencies]
log = { version = '0.4.16', default-features = false }

# Internal
cf-chains = { path = '../chains', default-features = false }
cf-primitives = { path = '../primitives', default-features = false }
cfe-events = { path = '../cfe-events', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.5.0', default-features = false, features = [
  'derive',
] }

frame-benchmarking = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3", default-features = false, optional = true }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3", default-features = false }

sp-io = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3", default-features = false }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3", default-features = false }

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'codec/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'log/std',
  'scale-info/std',
  'sp-io/std',
  'sp-runtime/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'cf-chains/runtime-benchmarks',
  'cf-primitives/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'sp-runtime/runtime-benchmarks',
]
