[package]
name = "cf-chains"
version = "0.1.0"
authors = ['Chainflip <https://chainflip.io>']
edition = "2018"
description = "Shared Chain-specific functionality for use in the substrate runtime."

[dependencies]
# Cryptography
libsecp256k1 = { default-features = false, version = '0.7', features = ['static-context'] }

# Ethereum
ethabi = {default-features = false, features = ['parity-codec'], git = 'https://github.com/rust-ethereum/ethabi.git', rev = '321a65'}
ethereum = {default-features = false, version = "0.10"}
hex = {default-features = false, version = "0.4"}
rlp = {default-features = false, version = "0.5"}
serde = {optional = true, version = "1.0.126", features = ['derive']}
secp256k1 = {optional = true, version = "0.20"}
log = { version = '0.4.14', default-features = false }

# Substrate packages
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.3.1'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'merge-config-option'


[dev-dependencies]
hex-literal = {version = '0.3'}
web3 = {git = 'https://github.com/tomusdrw/rust-web3', rev = '861cfcd', features = ['test']}
rand = {version='0.8.4'}

[features]
default = ['std']
std = [
    'codec/std',
    'ethabi/std',
    'ethabi/full-serde',
    'ethereum/std',
    'frame-support/std',
    'frame-system/std',
    'hex/std',
    'libsecp256k1/std',
    'log/std',
    'rlp/std',
    'serde',
    'sp-runtime/std',
    'sp-std/std',
    'secp256k1'
]
mocks = []