[package]
name = 'cf-chains'
version = '0.1.0'
authors = ['Chainflip <https://chainflip.io>']
edition = '2021'
description = 'Shared Chain-specific functionality for use in the substrate runtime.'

[lints]
workspace = true

[dependencies]
cf-primitives = { path = '../primitives', default-features = false }
cf-utilities = { package = 'utilities', path = '../../utilities', default-features = false }

# Cryptography
curve25519-dalek = { version = "2.1", default-features = false, features = [] }
digest = {version = "0.10"}
libsecp256k1 = { default-features = false, version = '0.7', features = [
  'static-context',
] }
sha2 = { version = "0.10", default-features = false }

# Solana
sol-prim = { path = "../../foreign-chains/solana/sol-prim", features = ["pda", "str", "serde", "scale"] }

# Ethereum
ethabi = { default-features = false, version = '18.0' }
ethereum-types = { default-features = false, version = '0.14.1' }
ethereum = { default-features = false, version = '0.14' }
rlp = { default-features = false, version = '0.5' }

# Bitcoin
bech32 = { default-features = false, version = '0.9.1' }
base58 = '0.2.0'

# Other
anyhow = { version = '1.0', default-features = false, optional = true }
hex = { default-features = false, version = '0.4', features = ['serde'] }
hex-literal = { version = '0.4.1', default-features = false }
serde = { version = '1.0.195', default-features = false, features = [
  'alloc',
  'derive',
] }
serde_bytes = { version = "0.11.14", default-features = false }
log = { version = '0.4.16', default-features = false }
itertools = { version = '0.11.0', default-features = false }
arrayref = '0.3.6'

# Substrate packages
ss58-registry = { version = '1.41', optional = true }
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.10.0', default-features = false, features = [
  'derive',
] }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
sp-io = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }

[dev-dependencies]
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
cf-test-utilities = { path = '../test-utilities' }
rand = { version = '0.8.4' }

[features]
default = ['std']
std = [
  'bech32/std',
  'cf-primitives/std',
  'cf-utilities/std',
  'scale-info/std',
  'codec/std',
  'ethabi/full-serde',
  'ethereum/std',
  'ethereum-types/std',
  'frame-support/std',
  'hex/std',
  'hex/serde',
  'libsecp256k1/std',
  'log/std',
  'rlp/std',
  'serde/std',
  'sp-std/std',
  'sp-core/std',
  'sp-core/full_crypto',
  'sp-io/std',
  'dep:ss58-registry',
  'dep:anyhow',
]
runtime-benchmarks = [
  'cf-primitives/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
]
runtime-integration-tests = ['std']
