[package]
name = 'cf-chains'
version = '0.1.0'
authors = ['Chainflip <https://chainflip.io>']
edition = '2021'
description = 'Shared Chain-specific functionality for use in the substrate runtime.'

[dependencies]
cf-primitives = { path = '../primitives', default-features = false }
cf-utilities = { package = 'utilities', path = '../../utilities', default-features = false }

# Cryptography
libsecp256k1 = { default-features = false, version = '0.7', features = [
  'static-context',
] }

# Ethereum
ethabi = { default-features = false, version = '18.0' }
ethereum-types = { default-features = false, version = '0.14.1' }
ethereum = { default-features = false, version = '0.14' }
rlp = { default-features = false, version = '0.5' }

# Bitcoin
bech32 = { default-features = false, version = '0.9.1' }
base58 = '0.2.0'

# Other
hex = { default-features = false, version = '0.4' }
hex-literal = { version = '0.4.1', default-features = false }
serde = { version = '1.0.126', default-features = false, features = [
  'alloc',
  'derive',
] }
log = { version = '0.4.16', default-features = false }
itertools = { version = '0.10.0', default-features = false }
arrayref = '0.3.6'

# Substrate packages
ss58-registry = { version = '1.41', optional = true }
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.5.0', default-features = false, features = [
  'derive',
] }
frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2023-08", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2023-08", default-features = false }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2023-08", default-features = false }

[dev-dependencies]
sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2023-08" }
cf-test-utilities = { path = '../test-utilities' }
rand = { version = '0.8.4' }

[features]
default = ['std']
std = [
  'cf-primitives/std',
  'cf-utilities/std',
  'scale-info/std',
  'codec/std',
  'ethabi/full-serde',
  'ethereum/std',
  'ethereum-types/std',
  'frame-support/std',
  'hex/std',
  'hex/serde',
  'libsecp256k1/std',
  'log/std',
  'rlp/std',
  'serde/std',
  'sp-std/std',
  'sp-core/std',
  'sp-core/full_crypto',
  'dep:ss58-registry',
]
runtime-benchmarks = [
  'cf-primitives/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
]
runtime-integration-tests = ['std']
