[package]
name = "cf-primitives"
version = "0.1.0"
edition = "2021"
authors = ["Chainflip <https://chainflip.io>"]
description = "Common primitive types used across Chainflip"

[lints]
workspace = true

[dependencies]
serde = { workspace = true, features = ["derive", "alloc"] }
hex = { workspace = true, optional = true }
strum = { workspace = true }
strum_macros = { workspace = true }
sp-core = { workspace = true }
sp-arithmetic = { workspace = true }


frame-support = { workspace = true }
sp-std = { workspace = true }

codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }

[dev-dependencies]
cf-utilities = { workspace = true }
sp-runtime = { workspace = true, default-features = true }
serde_json = { workspace = true }


[features]
default = ["std"]
std = [
  "sp-core/std",
  "sp-arithmetic/std",
  "codec/std",
  "frame-support/std",
  "dep:hex",
  "scale-info/std",
  "serde/std",
  "sp-std/std",
  "strum/std",
]
