[package]
name = 'cf-primitives'
version = '0.1.0'
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Common primitive types used across Chainflip'

[dependencies]
serde = { optional = true, version = '1.0.126', features = ['derive'] }
hex = { optional = true, version = '0.4'}
ethabi = {default-features = false, version = '17.0'}

[dependencies.frame-support]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.sp-core]
default-features = false
git = 'https://github.com/chainflip-io/substrate.git'
tag = 'chainflip-monthly-2022-12'

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '3.0.0'

[dependencies.scale-info]
default-features = false
features = ['derive']
version = '2.0.1'

[features]
default = ['std']
std = [
  'codec/std',
  'ethabi/full-serde',
  'scale-info/std',
  'hex',
  'serde',
  'sp-runtime/std',
  'sp-std/std',
  'sp-core/std',
  'frame-support/std',
]