[package]
name = "cf-primitives"
version = "0.1.0"
edition = "2021"
authors = ["Chainflip <https://chainflip.io>"]
description = "Common primitive types used across Chainflip"

[lints]
workspace = true

[dependencies]
serde = { workspace = true, features = ["derive", "alloc"] }
hex = { workspace = true, optional = true }
ethabi = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
sp-core = { workspace = true }
sp-arithmetic = { workspace = true }
lazy_format = { workspace = true }

sol-prim = { workspace = true }
cf-utilities = { workspace = true }

frame-support = { workspace = true }
sp-std = { workspace = true }

codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }

[dev-dependencies]
sp-runtime = { workspace = true, default-features = true }
serde_json = { workspace = true }

[features]
default = ["std"]
std = [
  "sp-core/std",
  "sp-arithmetic/std",
  "sol-prim/std",
  "cf-utilities/std",
  "codec/std",
  "ethabi/std",
  "frame-support/std",
  "dep:hex",
  "scale-info/std",
  "serde/std",
  "sp-std/std",
  "strum/std",
]
