[package]
name = "pallet-cf-swapping"
version = "0.1.0"
authors = ["Chainflip Team <https://github.com/chainflip-io>"]
description = "The swapping pallet."
edition = "2021"
homepage = "https://chainflip.io"
license = "<TODO>"
publish = false
repository = "https://github.com/chainflip-io/chainflip-backend"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true

[dependencies]
# Internal dependencies
cf-chains = { workspace = true }
cf-primitives = { workspace = true }
cf-amm = { workspace = true }
cf-runtime-utilities = { workspace = true }
cf-traits = { workspace = true }

log = { workspace = true }

# Parity deps
codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }

frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }

sp-arithmetic = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }
serde = { workspace = true, features = ["derive", "alloc"] }

[dev-dependencies]
cf-test-utilities = { workspace = true, default-features = true }
pallet-cf-account-roles = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }
sp-io = { workspace = true, default-features = true }
sp-core = { workspace = true, default-features = true }
itertools = { workspace = true }

[features]
default = ["std"]
std = [
  "cf-chains/std",
  "cf-primitives/std",
  "cf-amm/std",
  "cf-traits/std",
  "codec/std",
  "frame-support/std",
  "frame-system/std",
  "log/std",
  "scale-info/std",
  "sp-arithmetic/std",
  "sp-std/std",
  "sp-runtime/std",
  "serde/std",
  "cf-runtime-utilities/std",
  "itertools/use_std",
]
runtime-benchmarks = [
  "cf-chains/runtime-benchmarks",
  "cf-traits/runtime-benchmarks",
  "cf-runtime-utilities/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-cf-account-roles/runtime-benchmarks",
]
try-runtime = [
  "cf-runtime-utilities/try-runtime",
  "frame-support/try-runtime",
  "frame-system/try-runtime",
]
