[package]
name = 'pallet-cf-swapping'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'The swapping pallet.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal dependencies
cf-chains = { path = '../../chains', default-features = false }
cf-primitives = { path = '../../primitives', default-features = false }
cf-runtime-upgrade-utilities = { path = '../../runtime-upgrade-utilities', default-features = false }
cf-traits = { path = '../../traits', default-features = false }

log = { version = '0.4.16', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = "2.5.0", default-features = false, features = [
  "derive",
] }

frame-benchmarking = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }

sp-arithmetic = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2", default-features = false }

[dev-dependencies]
cf-test-utilities = { path = '../../test-utilities' }
pallet-cf-account-roles = { path = '../cf-account-roles' }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2" }
sp-io = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2" }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+2" }
itertools = "0.11"

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'cf-runtime-upgrade-utilities/std',
  'cf-traits/std',
  'codec/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'log/std',
  'scale-info/std',
  'sp-arithmetic/std',
  'sp-std/std',
  'sp-runtime/std',
]
runtime-benchmarks = [
  'cf-chains/runtime-benchmarks',
  'cf-primitives/runtime-benchmarks',
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'pallet-cf-account-roles/runtime-benchmarks',
]
try-runtime = [
  'cf-runtime-upgrade-utilities/try-runtime',
  'frame-support/try-runtime',
  'frame-system/try-runtime',
]
