[package]
name = 'pallet-cf-swapping'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'The swapping pallet.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal dependencies
cf-traits = {path = '../../traits', default-features = false}
cf-primitives = {path = '../../primitives', default-features = false}
cf-chains = {path = '../../chains', default-features = false, features=["ibiza"]}

log = { version = '0.4.16', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }

frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", optional = true, default-features = false }

sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-arithmetic = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }

[dev-dependencies]
cf-test-utilities = { path = '../../test-utilities'}
sp-core = { version = "7.0.0", git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
sp-io = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }

[features]
default = ['std']
std = [
  'cf-traits/std',
  'cf-primitives/std',
  'cf-chains/std',
  'codec/std',
  'scale-info/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'sp-std/std',
]
runtime-benchmarks = [
  'cf-traits/runtime-benchmarks',
  'cf-chains/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = ['frame-support/try-runtime']
