[package]
name = 'pallet-cf-ingress-egress'
version = '0.1.0'
description = 'Chainflip ingress and egress pallet'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
homepage = 'https://chainflip.io'
edition = '2021'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'


[dependencies]
cf-traits = {path = '../../traits', default-features = false}
cf-primitives = {path = '../../primitives', default-features = false}
cf-chains = { path ='../../chains', default-features = false, features = ["ibiza"] }

# ==== Parity deps ====
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }

frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
scale-info = { version = '2.1.1', default-features = false, features = ['derive'] }

sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", optional = true, default-features = false }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
sp-io = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
[features]
default = ['std']
std = [
  'cf-primitives/std',
  'cf-traits/std',
  'cf-chains/std',
  'codec/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'scale-info/std',
  'sp-std/std',
  'sp-runtime/std',
]
runtime-benchmarks = [
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = ['frame-support/try-runtime']
ibiza = []