[package]
name = "pallet-cf-ingress-egress"
version = "0.1.0"
description = "Chainflip ingress and egress pallet"
authors = ["Chainflip Team <https://github.com/chainflip-io>"]
homepage = "https://chainflip.io"
edition = "2021"
license = "<TODO>"
publish = false
repository = "https://github.com/chainflip-io/chainflip-backend"


[lints]
workspace = true

[dependencies]
cf-chains = { workspace = true }
cf-primitives = { workspace = true }
cf-traits = { workspace = true }
cf-runtime-utilities = { workspace = true, features = ["derive"] }

log = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
nanorand = { workspace = true, features = ["wyrand"] }
serde = { workspace = true, features = ["derive", "alloc"] }

# ==== Parity deps ====
codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }

frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
hex-literal = { workspace = true }
sp-core = { workspace = true, default-features = true }
sp-io = { workspace = true, default-features = true }
pallet-cf-governance = { workspace = true, default-features = true }
cf-test-utilities = { workspace = true, default-features = true }

[features]
default = ["std"]
std = [
  "cf-chains/std",
  "cf-primitives/std",
  "cf-traits/std",
  "cf-runtime-utilities/std",
  "codec/std",
  "frame-benchmarking?/std",
  "frame-support/std",
  "frame-system/std",
  "scale-info/std",
  "sp-runtime/std",
  "sp-std/std",
  "log/std",
  "nanorand/std",
  "serde/std",
]
runtime-benchmarks = [
  "cf-chains/runtime-benchmarks",
  "cf-traits/runtime-benchmarks",
  "cf-runtime-utilities/runtime-benchmarks",
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-cf-governance/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
try-runtime = [
  "frame-support/try-runtime",
  "frame-system/try-runtime",
  "sp-runtime/try-runtime",
  "cf-runtime-utilities/try-runtime",
  "cf-traits/try-runtime",
]
