[package]
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet for managing stakers of FLIP.'
edition = '2018'
homepage = 'https://chainflip.io'
license = '<TODO>'
name = 'pallet-cf-staking'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-wasm-builder = '3.0.0'

[dependencies]
# Internal deps
cf-traits = {path = '../../traits', default-features = false}
cf-chains = {path = '../../chains', default-features = false}
pallet-cf-validator = {path = '../cf-validator', default-features = false}
pallet-cf-signing = {path = '../cf-signing', default-features = false}

# Non-substrate external deps
codec = {default-features = false, features = ['derive'], package = 'parity-scale-codec', version = '2.0.0'}
ethabi = {default-features = false, git = 'https://github.com/chainflip-io/ethabi', rev = '114a29d'}
ethereum-types = {default-features = false, version = "0.12"}

# Substrate deps
frame-support = {default-features = false, version = '3.0.0'}
frame-system = {default-features = false, version = '3.0.0'}
serde = {optional = true, version = '1.0.119'}
sp-core = {default-features = false, version = '3.0.0'}
sp-runtime = {default-features = false, version = '3.0.0'}
sp-std = {default-features = false, version = '3.0.0'}

[dev-dependencies]
pallet-cf-flip = {path = '../cf-flip'}
sp-io = {version = '3.0.0'}

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-traits/std',
  'pallet-cf-validator/std',
  'pallet-cf-signing/std',
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-core/std',
  'sp-std/std',
  'serde',
  'ethabi/std',
]
