[package]
name = 'pallet-cf-staking'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet for managing stakers of FLIP.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
# Internal deps
cf-traits = {path = '../../traits', default-features = false}
cf-primitives = { path ='../../primitives', default-features = false }
cf-chains = {path = '../../chains', default-features = false}
pallet-cf-account-roles = { path = '../cf-account-roles', default-features = false }
cf-runtime-upgrade-utilities = { path = '../../runtime-upgrade-utilities', default-features = false }

# Non-substrate external deps
log = { version = '0.4.16', default-features = false }

# Parity deps
codec = { package = 'parity-scale-codec', version = '3.0.0', default-features = false, features = ['derive'] }

frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }

scale-info = { version = '2.1.1', default-features = false, features = ['derive'] }

sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-core = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }

frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", optional = true, default-features = false }

# Dev dependencies
[dev-dependencies]
pallet-cf-flip = {path = '../cf-flip'}
cf-test-utilities = { path = '../../test-utilities' }
pallet-cf-account-roles = { path = '../cf-account-roles' }

sp-io = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12" }
[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-traits/std',
  'cf-primitives/std',
  'codec/std',
  'scale-info/std',
  'log/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-core/std',
  'sp-std/std',
  'cf-runtime-upgrade-utilities/std',
  'pallet-cf-account-roles/std'
]
runtime-benchmarks = [
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'pallet-cf-account-roles/runtime-benchmarks'
]
try-runtime = [
  'frame-support/try-runtime',
  'cf-runtime-upgrade-utilities/try-runtime',
]