[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
name = "chainflip-lp-api"
version = "1.11.11"
edition = "2021"
license = "Apache-2.0"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Liquidity Provider API Rpc Server"""
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
name = "chainflip-lp-api"
priority = "required"
section = "rust"
maintainer-scripts = "package/"
systemd-units = { enable = false }

[[bin]]
name = "chainflip-lp-api"

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive", "env"] }
futures = { workspace = true }
jsonrpsee = { workspace = true, features = ["full"] }
sp-core = { workspace = true, default-features = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
pallet-cf-pools = { workspace = true, default-features = true }
cf-primitives = { workspace = true, default-features = true }
custom-rpc = { workspace = true }
sc-rpc = { workspace = true, default-features = true }

# Local
chainflip-api = { workspace = true }
cf-utilities = { workspace = true, default-features = true }
cf-rpc-apis = { workspace = true }

[build-dependencies]
substrate-build-script-utils = { workspace = true }
