[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
name = "chainflip-lp-api"
version = "0.9.0"
edition = "2021"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Liquidity Provider API Rpc Server"""
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
name = "chainflip-lp-api"
priority = "required"
section = "rust"
maintainer-scripts = "package/"
systemd-units = { enable = false }
assets = [["target/release/chainflip-lp-api", "usr/bin/", "755"]]

[[bin]]
name = "chainflip-lp-api"

[dependencies]
anyhow = "1.0"
clap = { version = "3.2.23", features = ["derive"] }
hex = "0.4.3"
sp-rpc = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12+2" }
sp-core = { git = 'https://github.com/chainflip-io/substrate.git', tag = 'chainflip-monthly-2022-12+2' }
jsonrpsee = { version = "0.16.2", features = ["full"] }
tokio = "1.20.1"
tracing = "0.1"
cf-primitives = { path = "../../../state-chain/primitives" }
tracing-subscriber = { version = "0.3.3", features = ["env-filter"] }
serde = { version = '1.0', features = ['derive'] }
serde_json = "1.0"

# Local
chainflip-api = { path = "../../lib" }
cf-utilities = { package = "utilities", path = "../../../utilities" }
