[package]
authors = ["Chainflip team <https://github.com/chainflip-io>"]
name = "chainflip-lp-api"
version = "1.3.0"
edition = "2021"

[package.metadata.deb]
depends = "$auto, systemd"
extended-description = """\
Chainflip Liquidity Provider API Rpc Server"""
maintainer = "Chainflip Labs GmbH <dev@chainflip.io>"
name = "chainflip-lp-api"
priority = "required"
section = "rust"
maintainer-scripts = "package/"
systemd-units = { enable = false }

[[bin]]
name = "chainflip-lp-api"

[dependencies]
anyhow = "1.0"
clap = { version = "3.2.23", features = ["derive", "env"] }
futures = "0.3"
hex = "0.4.3"
jsonrpsee = { version = "0.16.2", features = ["full"] }
serde = { version = '1.0', features = ['derive'] }
serde_json = "1.0"
sp-rpc = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3" }
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.1+3" }
tokio = "1.20.1"
tracing = "0.1"
tracing-subscriber = { version = "0.3.3", features = ["env-filter"] }
pallet-cf-pools = { path = '../../../state-chain/pallets/cf-pools' }
cf-primitives = { path = "../../../state-chain/primitives" }
custom-rpc = { path = "../../../state-chain/custom-rpc" }
frame-system = { git = 'https://github.com/chainflip-io/polkadot-sdk.git', tag = 'chainflip-substrate-1.1+3' }

# Local
chainflip-api = { path = "../../lib" }
cf-utilities = { package = "utilities", path = "../../../utilities" }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = 'chainflip-substrate-1.1+3' }
