[package]
name = "cfe-events"
version = "0.1.0"
edition = '2021'
authors = ['Chainflip <https://chainflip.io>']
description = 'Events for CFE'


[lints]
workspace = true

[dependencies]
# Internal dependencies
cf-primitives = { path = '../primitives', default-features = false }
cf-chains = { path = "../chains", default-features = false }

# Parity dependencies
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
  'derive',
] }
scale-info = { version = '2.10.0', default-features = false, features = [
  'derive',
] }
sp-std = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
frame-support = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6", default-features = false }

[dev-dependencies]
hex = "0.4"


[features]
default = ['std']
std = [
  'cf-primitives/std',
  'cf-chains/std',
  'codec/std',
  'scale-info/std',
  'sp-std/std',
  'frame-support/std',
  'frame-system/std',
]
