[package]
name = 'pallet-cf-emissions'
version = '0.1.0'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
description = 'FRAME pallet for FLIP emissions.'
edition = '2021'
homepage = 'https://chainflip.io'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[lints]
workspace = true

[dependencies]
# Internal deps
cf-chains = { workspace = true }
cf-primitives = { workspace = true }
cf-runtime-upgrade-utilities = { workspace = true }
cf-traits = { workspace = true }

log = { workspace = true }

# Parity deps
codec = { workspace = true, features = ['derive'] }

scale-info = { workspace = true, features = ['derive'] }

frame-system = { workspace = true }
frame-support = { workspace = true }
sp-arithmetic = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }
sp-std = { workspace = true }
serde = { workspace = true, features = ["derive", "alloc"] }

[dev-dependencies]
pallet-cf-flip = { workspace = true }
cf-test-utilities = { workspace = true }
sp-runtime = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }

[features]
default = ['std']
std = [
  'cf-chains/std',
  'cf-primitives/std',
  'cf-runtime-upgrade-utilities/std',
  'cf-traits/std',
  'codec/std',
  'frame-benchmarking?/std',
  'frame-support/std',
  'frame-system/std',
  'log/std',
  'scale-info/std',
  'sp-arithmetic/std',
  'sp-std/std',
  'serde/std',
]
runtime-benchmarks = [
  'cf-chains/runtime-benchmarks',
  'cf-traits/runtime-benchmarks',
  'frame-benchmarking/runtime-benchmarks',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
]
try-runtime = [
  'cf-runtime-upgrade-utilities/try-runtime',
  'frame-support/try-runtime',
  'frame-system/try-runtime',
]
