[package]
authors = ['Chainflip <https://chainflip.io>']
description = 'Decode SCALE values to serde_json::Value'
edition = '2021'
homepage = 'https://chainflip.io'
license = 'TBC'
name = 'scale-json'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[lints]
workspace = true

[dependencies]
hex = { workspace = true }
scale-decode = { workspace = true }
scale-type-resolver = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

[dev-dependencies]
insta = { workspace = true, features = ["json"] }
codec = { workspace = true, features = [
    'derive',
] }
scale-info = { workspace = true, features = [
    'derive',
] }
