[package]
authors = ['Chainflip <https://chainflip.io>']
description = 'Decode SCALE values to serde_json::Value'
edition = '2021'
homepage = 'https://chainflip.io'
license = 'TBC'
name = 'scale-json'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[lints]
workspace = true

[dependencies]
hex = "0.4"
scale-decode = "0.13"
scale-type-resolver = "0.2"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"

[dev-dependencies]
insta = { version = "1.38.0", features = ["json"] }
codec = { package = 'parity-scale-codec', version = '3.6.1', default-features = false, features = [
    'derive',
] }
scale-info = { version = '2.10.0', default-features = false, features = [
    'derive',
] }

[features]
std = [
	"codec/std",
	"scale-info/std"
]
