[package]
authors = ['Chainflip <https://chainflip.io>']
description = 'Multisig component of the Chainflip Engine'
edition = '2021'
homepage = 'https://chainflip.io'
license = 'TBC'
name = 'multisig'
repository = 'https://github.com/chainflip-io/chainflip-backend'
version = '0.1.0'

[lints]
workspace = true

[dependencies]
mockall = { version = "0.11.0", optional = true }
anyhow = "1.0"
async-trait = "0.1.49"
async-channel = "1.7.1"
async-broadcast = "0.4.1"
bincode = "1.3.3"
futures = "0.3.14"
futures-core = "0.3.14"
futures-util = "0.3.14"
hex = "0.4.3"
itertools = "0.11"
lazy_static = "1.4"
secp256k1 = { version = "0.27", features = [
  "serde",
  "rand-std",
  "global-context",
] }
serde = { version = "1.0", features = ["derive", "rc"] }
sha2 = "0.9.5"
thiserror = "1.0.26"
tokio = { version = "1.22", features = ["full", "test-util"] }
tokio-stream = { version = "0.1.5", features = ["sync"] }
num-bigint = "0.4"
num-traits = "0.2"
num-derive = "0.3"
zeroize = "1.5.4"
generic-array = "1.0"
public-ip = "0.2.2"
curve25519-dalek = { version = "4.1", features = ["serde"] }
typenum = "1.15"
schnorrkel = "0.11.4"
rayon = "1.7.0"
rand = "0.8.4"
ed25519-consensus = "2.0"
tracing = "0.1"
strum = { default-features = false, version = '0.24' }
strum_macros = { default-features = false, version = '0.24' }
blake2 = "0.10"

# Local deps
cf-chains = { path = "../../state-chain/chains" }
cf-primitives = { path = "../../state-chain/primitives" }
state-chain-runtime = { path = "../../state-chain/runtime" }
utilities = { package = "utilities", path = "../../utilities" }

# substrate deps
sp-core = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }
sp-runtime = { git = "https://github.com/chainflip-io/polkadot-sdk.git", tag = "chainflip-substrate-1.6" }

[dev-dependencies]
mockall = "0.11.0"
# Turn on the "test" feature flag for tests
multisig = { path = ".", features = ["test"] }
utilities = { package = "utilities", path = "../../utilities", features = [
  "test-utils",
] }

[features]
test = ['mockall']
