[package]
name = 'cf-session-benchmarking'
version = '0.1.0'
description = 'Chainflip session pallet benchmark'
authors = ['Chainflip Team <https://github.com/chainflip-io>']
homepage = 'https://chainflip.io'
edition = '2021'
license = '<TODO>'
publish = false
repository = 'https://github.com/chainflip-io/chainflip-backend'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
rand = { version = '0.7.2', default-features = false }

pallet-session = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false, features = ['historical'] }

sp-runtime = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-system = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-support = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
frame-benchmarking = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
sp-std = { git = "https://github.com/chainflip-io/substrate.git", tag = "chainflip-monthly-2022-12", default-features = false }
[features]
default = ['std']
std = [
  'sp-std/std',
  'frame-benchmarking/std',
  'frame-support/std',
  'frame-system/std',
  'pallet-session/std',
  'sp-runtime/std',
]