[package]
name = "cf-session-benchmarking"
version = "0.1.0"
description = "Chainflip session pallet benchmark"
authors = ["Chainflip Team <https://github.com/chainflip-io>"]
homepage = "https://chainflip.io"
edition = "2021"
license = "<TODO>"
publish = false
repository = "https://github.com/chainflip-io/chainflip-backend"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true

[dependencies]
rand = { workspace = true, features = ["std_rng"], optional = true }

pallet-session = { workspace = true, features = [
  "historical",
], optional = true }

codec = { workspace = true, features = ["derive"], optional = true }

frame-system = { workspace = true, optional = true }
frame-support = { workspace = true, optional = true }
frame-benchmarking = { workspace = true, optional = true }

sp-runtime = { workspace = true, optional = true }
sp-std = { workspace = true, optional = true }

[features]
default = ["std"]
std = []

runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "rand",
  "sp-std",
  "codec",
  "pallet-session",
]
