on:
  workflow_call:
    outputs:
      commit_hash:
        value: ${{ jobs.set-variables.outputs.commit_hash }}
jobs:
  set-variables:
    runs-on: ubuntu-latest
    outputs:
      commit_hash: ${{ steps.commit_hash.outputs.commit_hash }}
      branch_name: ${{ steps.branch_name.outputs.branch_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: commit_hash
        run: |
          COMMIT_HASH=$(git rev-parse --verify HEAD)
          echo "commit_hash=$COMMIT_HASH" >> $GITHUB_OUTPUT
          echo "GitHub commit hash: $GITHUB_SHA"
          echo "Our commit hash: $COMMIT_HASH"