name: "Run Benchmarks"
on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: "Which Commit SHA should we get the binaries from?"
        required: true
        type: string
      base_branch_name:
        description: "Which Branch should the Results PR be opened against?"
        required: true
        type: string
      steps:
        description: "How many steps should we run?"
        required: false
        type: string
        default: "20"
      repetitions:
        description: "How many times should we repeat each step?"
        required: false
        type: string
        default: "10"
      benchmark_machine_spec:
        description: "What machine Spec the benchmark will run on?"
        required: true
        default: 4vCPU-8GB
        type: choice
        options:
          - 4vCPU-8GB
          - 4vCPU-16GB
      profile:
        description: "Which profile should we use?"
        required: false
        type: choice
        options:
          - production
          - release

env:
  FORCE_COLOR: 1

jobs:
  run_benchmarks:
    permissions:
      contents: write
      pull-requests: write
    runs-on:
      [
        self-hosted,
        linux,
        x64,
        "${{ github.event.inputs.benchmark_machine_spec }}",
      ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Fetch chainflip-node with benchmarks from ${{ inputs.commit_sha }}
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ci-benchmarks.yml
          workflow_conclusion: completed
          name: chainflip-node-ubuntu-20.04-benchmarks-${{ inputs.profile }}
          commit: ${{ inputs.commit_sha }}
          github_token: ${{ secrets.CF_GITHUB_BOT_TOKEN }}
          search_artifacts: true
          check_artifacts: true

      - name: Update permissions on chainflip-node
        run: chmod +x ./chainflip-node

      - name: Run benchmarks
        run: >
          ./state-chain/scripts/benchmark-all.sh
          --binary ./chainflip-node
          --steps ${{ github.event.inputs.steps }}
          --repetitions ${{ github.event.inputs.repetitions }}

      - name: Make a pull request with the changed weight files
        uses: peter-evans/create-pull-request@v5
        with:
          base: ${{ inputs.base_branch_name }}
          title: "[AUTOMATED] Benchmark results"
          commit-message: "[AUTOMATED] Benchmarking results."
          body: "This pull request was opened automatically. Close it if you think it was opened in error."
          branch: auto/benchmark-results
          delete-branch: true
          token: ${{ secrets.GITHUB_TOKEN }}
