on:
  workflow_call:
    inputs:
      network:
        description: Network being released
        required: true
        type: string
      commit_hash:
        description: Commit hash to be released
        required: true
        type: string

env:
  SCCACHE_CACHE_SIZE: 32G
  SCCACHE_VERSION: v0.4.1
  SCCACHE_REDIS: ${{ secrets.SCCACHE_REDIS }}
  COMMIT_HASH: ${{ inputs.commit_hash }}

jobs:
  compile:
    runs-on: [hetzner]
    container:
      image: "ghcr.io/${{ github.repository }}/rust-base:pnpm-in-rust-base-test"
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup sccache
        run: ./ci/scripts/install_sccache.sh $SCCACHE_VERSION

      - name: cargo cf-build-ci
        run: |
          cargo cf-build-ci --locked
          sccache --show-stats

      - name: Upload binary artifacts
        uses: actions/upload-artifact@v3
        with:
          name: chainflip-backend-bin
          path: |
            ./target/release/chainflip-node
            ./target/release/chainflip-engine
            ./target/release/chainflip-cli
            ./target/release/generate-genesis-keys
            ./target/release/chainflip-broker-api
            ./target/release/wbuild/state-chain-runtime/state_chain_runtime*.wasm

