on:
  workflow_call:
    inputs:
      version:
        description: Release version
        required: true
        type: string
      network:
        description: Network being released
        required: true
        type: string

permissions:
  id-token: write
  contents: read
jobs:
  prerelease:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download binaries
        uses: actions/download-artifact@v3
        with:
          name: chainflip-backend-bin-ubuntu-22.04
          path: assets/bin

      - name: Download packages
        uses: actions/download-artifact@v3
        with:
          name: chainflip-backend-packages-ubuntu-22.04
          path: assets/debian

      - name: Download images
        uses: actions/download-artifact@v3
        with:
          name: chainflip-backend-images
          path: assets/docker

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: eu-central-1
          role-to-assume: arn:aws:iam::771478732399:role/chainflip-github-bot

      - name: Upload packages to s3 pre-release bucket
        run: |
          aws s3 mv assets s3://chainflip-mainnet-prerelease/${{ inputs.version }}/ --recursive
          aws s3 cp state-chain/node/chainspecs/${{ inputs.network }}.chainspec.raw.json s3://chainflip-mainnet-prerelease/${{ inputs.version }}/chainspecs/${{ inputs.network }}.chainspec.json