name: "Run Benchmarks"
on:
  workflow_dispatch:
    inputs:
      circleCiArtifactUrl:
        description: 'Which CircleCI job should we get the binaries from?'
        required: true
        type: string
      steps:
        description: 'How many steps should we run?'
        required: false
        type: number
        default: 20
      repetitions:
        description: 'How many times should we repeat each step?'
        required: false
        type: number
        default: 10

jobs:
  run_benchmarks:
    env:
      CIRCLE_TOKEN: ${{ secrets.CIRCLE_TOKEN }}
      CIRCLE_CI_ARTIFACT_URL: ${{ github.event.inputs.circleCiArtifactUrl }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download binary to benchmark
        run: |
          wget --header="Circle-Token: $CIRCLE_TOKEN" $CIRCLE_CI_ARTIFACT_URL
          chmod +x chainflip-node

      - name: Run benchmarks
        run: |
          ./state-chain/scripts/benchmark-all.sh --binary ./chainflip-node --steps ${{ github.event.inputs.steps }} --repetitions ${{ github.event.inputs.repetitions }}
          git status

      - name: Make a pull request with the changed weight files
        uses: peter-evans/create-pull-request@v4
        with:
          base: develop
          title: Benchmark results
          commit-message: "[AUTOMATED] Benchmarking results."
          body: "This pull request was opened automatically. Close it if you think it was opened in error."
          branch: auto/benchmark-results
          delete-branch: true

