name: Build chainflip-node with benchmarks
on:
  push:
    branches:
      - main
      - release/*

jobs:
  build:
    runs-on: [hetzner]
    strategy:
      matrix:
        ubuntu_version: [20.04]
        profile: [release, production]
    container:
      image: "ghcr.io/${{ github.repository }}/rust-base:nightly-2023-07-31-ubuntu-${{ matrix.ubuntu_version }}-27"
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup sccache
        run: ./ci/scripts/install_sccache.sh $SCCACHE_VERSION

      - name: Build with benchmarks
        run: |
          cargo build --profile=${{ matrix.profile }} --locked --features runtime-benchmarks -p chainflip-node
          sccache --show-stats

      - name: Upload chainflip-node binary artifact with benchmarks
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32
        with:
          name: chainflip-node-ubuntu-${{ matrix.ubuntu_version }}-benchmarks-${{ matrix.profile }}
          path: |
            ./target/${{ matrix.profile }}/chainflip-node

  benchmarks:
    runs-on: [hetzner]
    needs: [build]
    timeout-minutes: 120
    strategy:
      matrix:
        ubuntu_version: [20.04]
        profile: [release, production]
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Download previously built binaries
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: chainflip-node-ubuntu-${{ matrix.ubuntu_version }}-benchmarks-${{ matrix.profile }}

      - name: Run benchmarks
        run: |
          chmod +x ./chainflip-node
          ./state-chain/scripts/benchmark-all.sh --binary ./chainflip-node --steps 2 --repetitions 1
