# This CI runs a lot of the jobs in parallel to speed up development time. We also run a simpler suite of bouncer tests.
name: Release Chainflip Development
on: pull_request
concurrency:
  group: ${{ github.ref }}-release-development
  cancel-in-progress: true

jobs:
  pre-check:
    uses: ./.github/workflows/_01_pre_check.yml
    secrets: inherit
  force-version-bump:
    uses: ./.github/workflows/_05_force_version_bump.yml
    secrets: inherit
    with:
      network-to-check-against: "sisyphos"
  test:
    uses: ./.github/workflows/_10_test.yml
    secrets: inherit
  coverage:
    uses: ./.github/workflows/_11_coverage.yml
    with:
      test_features: runtime-benchmarks
    secrets: inherit
  build:
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      profile: "release"
  build-turbo:
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      profile: "release-turbo"
      upload-name: "chainflip-backend-bin-turbo"
  # Used to test upgrades to this version from the latest release
  build-try-runtime:
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      profile: "try-runtime"
      upload-name: "chainflip-backend-bin-try-runtime"
      binary-subdir: release
  build-benchmarks:
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      profile: "benchmarks"
      upload-name: "chainflip-backend-bin-benchmarks"
      binary-subdir: release
  check-event-schemas:
    needs: [build]
    uses: ./.github/workflows/_23_check_event_schemas.yml
    secrets: inherit
  docker:
    needs: [build]
    uses: ./.github/workflows/_24_docker.yml
    secrets: inherit
    with:
      network: "test"
      environment: "development"
  package:
    needs: [build]
    uses: ./.github/workflows/_25_package.yml
    with:
      network: "test"
    secrets: inherit
  post-check:
    needs: [build]
    uses: ./.github/workflows/_40_post_check.yml
    secrets: inherit
    with:
      full-bouncer: false
      ngrok: true
  post-check-turbo:
    needs: [build-turbo]
    uses: ./.github/workflows/_40_post_check.yml
    secrets: inherit
    with:
      full-bouncer: false
      ngrok: true
      chainflip-backend-bin-suffix: -turbo
      log-postfix: "-turbo"
      continue-on-bouncer-error: true
  post-check-old-rpcs:
    needs: [build]
    uses: ./.github/workflows/_40_post_check.yml
    secrets: inherit
    with:
      full-bouncer: false
      ngrok: true
      broker-endpoint: "http://127.0.0.1:10997"
      lp-endpoint: "http://127.0.0.1:10589"
      log-postfix: "-post-check-old-rpcs"
  test-benchmarks:
    needs: [build-benchmarks]
    uses: ./.github/workflows/_41_test_benchmarks.yml
  upgrade-check:
    needs: [build-try-runtime]
    uses: ./.github/workflows/upgrade-test.yml
    secrets: inherit
    with:
      run-job: false
  publish:
    needs: [package]
    uses: ./.github/workflows/_30_publish.yml
    with:
      version: ci/${{ github.sha }}/
      environment: "development"
    secrets: inherit
  upload-versioned-build-artifacts:
    needs: [build]
    uses: ./.github/workflows/_61_upload_versioned_build_artifacts.yml
    secrets: inherit
    with:
      is_release: false
      is_development: true
