# This CI runs a lot of the jobs in parallel to speed up development time. We also run a simpler suite of bouncer tests.
name: Release Chainflip Development on main
on:
  push:
    branches:
      - main

jobs:
  pre-check:
    uses: ./.github/workflows/_01_pre_check.yml
    secrets: inherit
  test:
    needs: [pre-check]
    uses: ./.github/workflows/_10_test.yml
    secrets: inherit
  build:
    needs: [test]
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      network: development
  post-check:
    needs: [build]
    uses: ./.github/workflows/_25_post_check.yml
    secrets: inherit
    with:
      simple_bouncer: true
  publish:
    needs: [post-check]
    uses: ./.github/workflows/_30_publish.yml
    with:
      version: ci/${{ needs.set-variables.outputs.commit_hash }}/
      environment: dev
      commit_hash: ${{ needs.set-variables.outputs.commit_hash }}
    secrets: inherit
