# This CI runs a lot of the jobs in parallel to speed up development time. We also run a simpler suite of bouncer tests.
name: Release Chainflip Development on main
on:
  push:
    branches:
      - main

jobs:
  pre-check:
    uses: ./.github/workflows/_01_pre_check.yml
    secrets: inherit
  test:
    needs: [pre-check]
    uses: ./.github/workflows/_10_test.yml
    secrets: inherit
  build:
    needs: [test]
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      network: development

  docker:
    needs: [build]
    uses: ./.github/workflows/_24_docker.yml
    secrets: inherit
    with:
      network: development
      environment: dev
  package:
    needs: [build]
    uses: ./.github/workflows/_25_package.yml
    with:
      network: "development"
      environment: dev
    secrets: inherit
  post-check:
    needs: [build]
    uses: ./.github/workflows/_40_post_check.yml
    secrets: inherit
  publish:
    needs: [package]
    uses: ./.github/workflows/_30_publish.yml
    with:
      version: ci/${{ github.sha }}/
      environment: dev
    secrets: inherit