name: Nightly CI
on:
  schedule:
    - cron: '0 0 * * *'

env:
  FORCE_COLOR: 1
  RUSTC_WRAPPER: sccache
  SCCACHE_CACHE_SIZE: 32G
  SCCACHE_VERSION: v0.4.1
  SCCACHE_REDIS: ${{ secrets.SCCACHE_REDIS }}

jobs:
  test:
    uses: ./.github/workflows/_10_test.yml
    secrets: inherit
  coverage:
    uses: ./.github/workflows/_11_coverage.yml
    with:
      test_features: runtime-benchmarks,slow-tests
    secrets: inherit
  build:
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      profile: "release"
  docker:
    needs: [build]
    uses: ./.github/workflows/_24_docker.yml
    secrets: inherit
    with:
      network: "test"
      environment: "development"
  package:
    needs: [build]
    uses: ./.github/workflows/_25_package.yml
    with:
      network: "test"
    secrets: inherit
  publish:
    needs: [package]
    uses: ./.github/workflows/_30_publish.yml
    with:
      version: "nightly/"
      environment: "development"
    secrets: inherit
  post-check:
    needs: [build]
    uses: ./.github/workflows/_40_post_check.yml
    secrets: inherit
    with:
      full_bouncer: true
