name: Release Chainflip Sisyphos
on:
  push:
    branches:
      - 'release/[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.ref }}-release-sisyphos
  cancel-in-progress: true

jobs:
  pre-check:
    uses: ./.github/workflows/_01_pre_check.yml
    secrets: inherit
  test:
    uses: ./.github/workflows/_10_test.yml
    secrets: inherit
  build:
    needs: [test]
    uses: ./.github/workflows/_20_build.yml
    secrets: inherit
    with:
      network: sisyphos
  docker:
    needs: [build]
    uses: ./.github/workflows/_24_docker.yml
    secrets: inherit
    with:
      network: sisyphos
      environment: dev
  package:
    needs: [build]
    uses: ./.github/workflows/_25_package.yml
    with:
      network: "sisyphos"
      environment: dev
    secrets: inherit
  post-check:
    needs: [build]
    uses: ./.github/workflows/_40_post_check.yml
    secrets: inherit
  chainspec:
    needs: [build]
    uses: ./.github/workflows/_60_create_chainspec.yml
    secrets: inherit
    with:
      network: sisyphos
      discord_url: ${{ secrets.CF_DISCORD_WH_NETWORK_SISYPHOS }}
  publish:
    needs: [package]
    uses: ./.github/workflows/_30_publish.yml
    with:
      version: "sisyphos/"
      environment: dev
    secrets: inherit
