name: Release Chainflip Perseverance
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
concurrency:
  group: ${{ github.ref }}-release-perseverance
  cancel-in-progress: true

jobs:
  check-versions:
    uses: ./.github/workflows/_03_check_versions.yml
  bins:
    needs: [check-versions]
    uses: ./.github/workflows/_02_retrieve-bins.yml
    secrets: inherit
  docker:
    needs: [bins]
    uses: ./.github/workflows/_24_docker.yml
    with:
      network: perseverance
      environment: prod
    secrets: inherit
  package:
    needs: [bins]
    uses: ./.github/workflows/_25_package.yml
    with:
      network: "perseverance"
      environment: prod
    secrets: inherit
  publish:
    needs: [package]
    uses: ./.github/workflows/_30_publish.yml
    with:
      version: "perseverance/"
      environment: prod
    secrets: inherit
  release:
    needs: [publish]
    uses: ./.github/workflows/_50_release.yml
    secrets: inherit
    with:
      network: perseverance